################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThemeStudio/bin
/packages
/.vs/ThemeStudio
/ThemeStudio/obj
/ThemeStudio/outputs
/ThemeStudio/outputzip
