$ribbon-border: none !default;
$ribbon-file-menu-border: none !default;
$ribbon-file-menu-border-width: unset !default;
$ribbon-file-menu-weight: $font-weight-normal !default;
$ribbon-file-menu-size: $text-sm !default;
$ribbon-file-menu-padding: 8px 8px !default;
$ribbon-file-menu-height: 22px !default;
$ribbon-file-menu-border-radius: unset !default;
$ribbon-help-template-padding: 12px !default;
$ribbon-help-template-height: 38px !default;
$ribbon-help-template-border: none !default;
$ribbon-toolbar-items-height: 38px !default;
$ribbon-horizontal-nav-height: 38px !default;
$ribbon-group-header-padding: 4px 11px 4px 11px !default;
$ribbon-group-header-height: $text-base !default;
$ribbon-group-header-font-size: $text-xxs !default;
$ribbon-group-overflow-padding: 2px 8px !default;
$ribbon-group-content-padding: 0 8px !default;
$ribbon-group-content-height: 90px !default;
$ribbon-group-overflow-height: 90px !default;
$ribbon-group-header-margin: 20px !default;
$ribbon-group-content-margin: 20px !default;
$ribbon-group-padding: 6px !default;
$ribbon-group-height: 120px !default;
$ribbon-simplified-group-padding: 1px !default;
$ribbon-simplified-group-content-padding: 0 5px 0 4px !default;
$ribbon-simplified-group-content-height: 32px !default;
$ribbon-collapse-btn-padding: 2px !default;
$ribbon-collapse-btn-height: 12px !default;
$ribbon-collapse-btn-font-weight: $font-weight-normal !default;
$ribbon-collapsible-content-width: 20px !default;
$ribbon-overflow-btn-content-width: 40px !default;
$ribbon-overflow-btn-font-weight: $font-weight-normal !default;
$ribbon-overflow-btn-icon-padding: 5px !default;
$ribbon-overflow-btn-padding: 0 !default;
$ribbon-overflow-btn-margin: 0 !default;
$ribbon-overflow-collapse-btn-right: 25px !default;
$ribbon-overflow-item-padding: 0 !default;
$ribbon-overflow-wrapper-item-margin: 3px 5px !default;
$ribbon-overflow-item-btn-height: 18px !default;
$ribbon-overflow-item-btn-margin: 0 8px 0 0 !default;
$ribbon-overflow-btn-height: 26px !default;
$ribbon-rtl-overflow-item-btn-margin: 0 0 0 8px !default;
$ribbon-overflow-btn-border-radius: 4px !default;
$ribbon-overflow-header-height: 18px !default;
$ribbon-overflow-header-padding: 3px 5px !default;
$ribbon-overflow-header-weight: 600 !default;
$ribbon-overflow-dropdown-btn-padding: 0 12px !default;
$ribbon-overall-overflow-btn-position: 3px !default;
$ribbon-dropdown-btn-padding: 0 12px !default;
$ribbon-dropdown-caret-btn-size: $text-xs !default;
$ribbon-dropdown-caret-btn-height: 12px !default;
$ribbon-dropdown-caret-btn-padding: 2px !default;
$ribbon-items-padding: 2px !default;
$ribbon-large-items-icon-padding: 8px 6px 4px !default;
$ribbon-large-items-btn-padding: 0 2px !default;
$ribbon-large-items-btn-height: 18px !default;
$ribbon-large-items-icon-size: $text-2xl !default;
$ribbon-large-items-max-width: 10ch !default;
$ribbon-items-border: none !default;
$ribbon-items-border-radius: 4px !default;
$ribbon-items-font-weight: $font-weight-normal !default;
$ribbon-items-btn-size: $text-xs !default;
$ribbon-items-btn-padding: 0 !default;
$ribbon-items-margin: 5px !default;
$ribbon-items-height: 18px !default;
$ribbon-items-checkbox-size: $text-xs !default;
$ribbon-items-checkbox-padding: 0 5px !default;
$ribbon-input-group-height: 26px !default;
$ribbon-input-padding: 4px 0 4px 8px !default;
$ribbon-input-size: $text-xs !default;
$ribbon-input-height: 18px !default;
$ribbon-input-weight: $font-weight-normal !default;
$ribbon-input-icon-size: $text-xs !default;
$ribbon-input-icon-height: 12px !default;
$ribbon-input-icon-padding: 7px 3px 7px 2px !default;
$ribbon-input-icon-weight: $font-weight-normal !default;
$ribbon-input-group-border-radius: 4px !default;
$ribbon-input-group-margin: 4px !default;
$ribbon-tab-border: none !default;
$ribbon-tab-text-size: $text-sm !default;
$ribbon-tab-text-padding: 8px 8px !default;
$ribbon-tab-text-height: 22px !default;
$ribbon-tab-text-weight: $font-weight-normal !default;
$ribbon-nav-arrow-size: $text-sm !default;
$ribbon-nav-arrow-height: 14px !default;
$ribbon-hscroll-padding: 0 !default;
$ribbon-hscroll-nav-arrow-padding: 0 5px !default;
$ribbon-hscroll-nav-arrow-weight: $font-weight-normal !default;
$ribbon-hscroll-nav-border-width: 1px !default;
$ribbon-hscroll-nav-border-radius: 2px !default;
$ribbon-menu-border: 1px solid !default;
$ribbon-menu-border-radius: 2px !default;
$ribbon-menu-blank-icon-padding: 38px !default;
$ribbon-launcher-icon-margin: 0 8px 4px 0 !default;
$ribbon-rtl-launcher-icon-margin: 0 0 4px 8px !default;
$ribbon-ddb-popup-font-size: 12px;
$ribbon-ddb-popup-height: 24px;

$ribbon-bigger-content-height: 114px !default;
$ribbon-bigger-group-overflow-content-height: 114px !default;
$ribbon-bigger-group-height: 150px !default;
$ribbon-bigger-file-menu-height: 24px !default;
$ribbon-bigger-file-menu-padding: 12px 12px !default;
$ribbon-bigger-file-menu-size: $text-base !default;
$ribbon-bigger-help-template-padding: 16px !default;
$ribbon-bigger-help-template-height: 48px !default;
$ribbon-bigger-toolbar-items-height: 48px !default;
$ribbon-bigger-horizontal-nav-height: 48px !default;
$ribbon-bigger-collapse-btn-padding: 5px !default;
$ribbon-bigger-collapse-btn-height: 14px !default;
$ribbon-bigger-collapse-btn-font-size: $text-sm !default;
$ribbon-bigger-collapsible-content-width: 24px !default;
$ribbon-bigger-overflow-btn-content-width: 40px !default;
$ribbon-bigger-overflow-btn-font-size: $text-xl !default;
$ribbon-bigger-overflow-btn-height: 20px !default;
$ribbon-bigger-overflow-btn-icon-padding: 7px !default;
$ribbon-bigger-overflow-collapse-btn-right: 28px !default;
$ribbon-bigger-overall-overflow-btn-height: 34px !default;
$ribbon-bigger-overall-overflow-btn-position: 3px !default;
$ribbon-bigger-overflow-wrapper-item-margin: 3px 7px !default;
$ribbon-bigger-group-header-padding: 8px 11px 4px !default;
$ribbon-bigger-group-header-height: 18px !default;
$ribbon-bigger-group-header-font-size: $text-xs !default;
$ribbon-bigger-simplified-group-content-height: 40px !default;
$ribbon-bigger-tab-text-size: $text-base !default;
$ribbon-bigger-tab-text-padding: 12px 12px !default;
$ribbon-bigger-tab-text-height: 24px !default;
$ribbon-bigger-large-items-icon-padding: 8px 3px !default;
$ribbon-bigger-large-items-icon-size: 32px !default;
$ribbon-bigger-large-items-btn-padding: 0 5px !default;
$ribbon-bigger-large-items-btn-size: $text-sm !default;
$ribbon-bigger-large-items-btn-height: 125% !default;
$ribbon-bigger-items-padding: 2px !default;
$ribbon-bigger-items-btn-size: $text-sm !default;
$ribbon-bigger-items-height: 125% !default;
$ribbon-bigger-items-icon-height: 20px !default;
$ribbon-bigger-items-icon-size: $text-xl !default;
$ribbon-bigger-items-margin: 7px !default;
$ribbon-bigger-items-checkbox-size: $text-sm !default;
$ribbon-bigger-items-checkbox-padding: 0 7px !default;
$ribbon-bigger-input-group-height: 34px !default;
$ribbon-bigger-input-items-size: $text-sm !default;
$ribbon-bigger-input-items-height: 22px !default;
$ribbon-bigger-input-items-btn-size: $text-xs !default;
$ribbon-bigger-input-items-btn-height: 12px !default;
$ribbon-bigger-input-padding: 6px 0 6px 8px !default;
$ribbon-bigger-input-icon-padding: 11px 4px 11px 2px !default;
$ribbon-bigger-input-group-margin: 4px !default;
$ribbon-bigger-dropdown-btn-padding: 0 13px !default;
$ribbon-bigger-menu-blank-icon-padding: 50px !default;
$ribbon-bigger-dropdown-btn-size: $text-xs !default;
$ribbon-bigger-dropdown-btn-line-height: 12px !default;
$ribbon-bigger-dropdown-caret-btn-padding: 3px 2px !default;
$ribbon-bigger-dropdown-caret-btn-size: $text-sm !default;
$ribbon-bigger-dropdown-caret-btn-height: 12px !default;
$ribbon-bigger-caret-dropdown-btn-padding: 0 13px !default;
$ribbon-bigger-color-picker-height: 20px !default;
$ribbon-bigger-color-picker-width: 20px !default;
$ribbon-bigger-launcher-icon-margin: 0 8px 4px 0 !default;
$ribbon-bigger-rtl-launcher-icon-margin: 0 0 4px 8px !default;
$ribbon-bigger-ddb-popup-font-size: 14px;
$ribbon-bigger-ddb-popup-height: 32px;

$ribbon-header-bg-color: $content-bg-color-alt2 !default;
$ribbon-border-color: unset !default;
$ribbon-group-seperator-color: $border-light !default;
$ribbon-group-border-color: $border-light !default;
$ribbon-input-group-border-color: $border !default;
$ribbon-input-group-background-color: $content-bg-color !default;
$ribbon-items-icon-color: $icon-color !default;
$ribbon-items-background-color: $transparent !default;
$ribbon-items-hover-background-color: $secondary-bg-color-pressed !default;
$ribbon-items-focus-background-color: $secondary-bg-color-pressed !default;
$ribbon-items-hover-color: $secondary-text-color-pressed !default;
$ribbon-items-active-color: $secondary-text-color-pressed !default;
$ribbon-items-focus-color: $secondary-text-color-pressed !default;
$ribbon-items-active-background-color: $secondary-bg-color-pressed !default;
$ribbon-items-hover-border-color: unset !default;
$ribbon-items-focus-border-color: unset !default;
$ribbon-items-disabled-color: $secondary-text-color-disabled !default;
$ribbon-collapse-btn-background: $content-bg-color-alt2 !default;
$ribbon-text-color: $content-text-color !default;
$ribbon-tab-text-focus-color: $primary !default;
$ribbon-tab-text-hover-color: $primary !default;
$ribbon-active-tab-color: $primary !default;
$ribbon-active-tab-indicator-color: $primary !default;
$ribbon-active-file-menu-color: $primary-text-color !default;
$ribbon-active-file-menu-background: $primary !default;
$ribbon-menu-border-color: $border-light !default;
$ribbon-menu-hover-background-color: $content-bg-color-hover !default;
$ribbon-menu-items-color: $content-text-color !default;
$ribbon-menu-items-icon-color: $icon-color !default;
$ribbon-menu-background-color: $content-bg-color !default;
$ribbon-menu-items-background-color: $content-bg-color !default;
$ribbon-hscroll-border-color: $border !default;
$ribbon-hscroll-color: $icon-color !default;
$ribbon-hscroll-background-color: $content-bg-color-alt2 !default;
$ribbon-hscroll-hover-border-color: $secondary-border-color-pressed !default;
$ribbon-hscroll-hover-background-color: $secondary-bg-color-pressed !default;
$ribbon-hscroll-hover-color: $secondary-text-color-pressed !default;
$ribbon-hscroll-active-border-color: $secondary-border-color-pressed !default;
$ribbon-hscroll-active-background-color: $secondary-bg-color-pressed !default;
$ribbon-hscroll-active-color: $secondary-text-color-pressed !default;
$ribbon-hscroll-focus-border-color: $secondary-border-color-pressed !default;
$ribbon-hscroll-focus-background-color: $secondary-bg-color-pressed !default;
$ribbon-hscroll-focus-color: $secondary-text-color-pressed !default;
$ribbon-tooltip-background-color: $tooltip-bg-color !default;
$ribbon-tooltip-text-color: $toooltip-text-color !default;
$ribbon-overflow-box-shadow: $shadow-md !default;

@include export-module('ribbon-layout') {
  .e-ribbon.e-rbn {
    display: block;

    .e-ribbon-tab {
      .e-toolbar {
        min-height: auto;
        display: inline-block;
      }

      .e-hscroll-content > .e-item:not(.e-active) {
        display: none;
      }

      .e-ribbon-file-menu {
        position: absolute;
        line-height: $ribbon-file-menu-height;
        padding: $ribbon-file-menu-padding;
        border: $ribbon-file-menu-border;
        border-width: $ribbon-file-menu-border-width;
        font-size: $ribbon-file-menu-size;
        font-weight: $ribbon-file-menu-weight;
        box-shadow: none;

        &.e-active {
          border-radius: $ribbon-file-menu-border-radius;
        }

        &.e-active,
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      .e-ribbon-help-template {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        height: $ribbon-help-template-height;
        padding-right: $ribbon-help-template-padding;
        border-bottom: $ribbon-help-template-border;
      }

      .e-tab-header {
        border-bottom: $ribbon-tab-border;

        .e-hor-nav {
          height: $ribbon-horizontal-nav-height;
          min-height: $ribbon-horizontal-nav-height;
        }

        &::before {
          border-width: 0;
        }

        .e-indicator {
          display: block;
          z-index: 1;
        }

        .e-toolbar-items {
          min-height: auto;
          height: $ribbon-toolbar-items-height;

          &:not(.e-tbar-pos) {

            .e-toolbar-item:first-child,
            .e-toolbar-item:last-child {
              margin: 0;
            }
          }
        }

        .e-toolbar-item {
          vertical-align: unset;
          margin: 0;
          border: none;

          &.e-active {
            border: none;

            &::before {
              display: none;
            }
          }

          .e-tab-wrap {
            padding: 0;
            height: auto;
            border: none;
          }

          .e-tab-text {
            padding: $ribbon-tab-text-padding;
            line-height: $ribbon-tab-text-height;
            text-transform: none;
            margin: 0;
            font-size: $ribbon-tab-text-size;
            font-weight: $ribbon-tab-text-weight;
          }

          .e-text-wrap {
            height: auto;
          }

          &.e-active .e-text-wrap {
            &::before {
              display: none;
            }
          }
        }

        .e-toolbar-item:not(.e-separator) {
          height: auto;
          min-height: auto;
        }
      }

      .e-hscroll.e-scroll-device {
        .e-scroll-nav.e-scroll-right-nav {
          box-shadow: none;
        }
      }

      .e-hscroll {
        padding: $ribbon-hscroll-padding;

        .e-scroll-nav {
          height: auto;
          min-height: auto;
          min-width: auto;
          width: auto;
          border-style: solid;
          transform: none;
          border-width: $ribbon-hscroll-nav-border-width;
          border-radius: $ribbon-hscroll-nav-border-radius;
          z-index: 3;

          &.e-overlay {
            display: none;
          }

          .e-nav-arrow {
            font-size: $ribbon-nav-arrow-size;
            height: auto;
            transform: none;
            line-height: $ribbon-nav-arrow-height;
            padding: $ribbon-hscroll-nav-arrow-padding;
            width: auto;
            letter-spacing: unset;
            font-weight: $ribbon-hscroll-nav-arrow-weight;
          }

          .e-nav-arrow::before {
            font-size: $ribbon-nav-arrow-size;
            line-height: $ribbon-nav-arrow-height;
          }
        }
      }

      &.e-focused .e-tab-header {
        .e-toolbar-item .e-tab-wrap:focus .e-text-wrap {
          height: $ribbon-toolbar-items-height;
        }
      }
    }

    .e-content {
      width: calc(100% - $ribbon-collapsible-content-width);
    }

    .e-ribbon-collapse-btn {
      bottom: 0;
      cursor: pointer;
      position: absolute;
      line-height: $ribbon-collapse-btn-height;
      padding: $ribbon-collapse-btn-padding;
      border: $ribbon-items-border;
    }

    .e-ribbon-collapse-btn:not(.e-ribbon-expand-btn) {
      transform: rotate(180deg);
    }

    &.e-ribbon-overflow {
      .e-content {
        width: calc(100% - $ribbon-collapsible-content-width - $ribbon-overflow-btn-content-width);
      }

      .e-ribbon-group-of-btn,
      .e-ribbon-overall-of-btn {
        cursor: pointer;
        border-radius: $ribbon-overflow-btn-border-radius;
        padding: $ribbon-overflow-btn-padding;
        border: $ribbon-items-border;
        height: $ribbon-overflow-btn-height;
        margin: auto;
        box-shadow: none;

        .e-btn-icon {
          font-size: 16px;
          line-height: 16px;
          padding: $ribbon-overflow-btn-icon-padding;
          margin: $ribbon-overflow-btn-margin;
          width: auto;
        }

        &:focus {
          outline: none;
        }
      }

      .e-ribbon-overall-of-btn {
        bottom: $ribbon-overall-overflow-btn-position;
        position: absolute;
      }

      .e-ribbon-group-container {
        display: inline-flex;
      }

      .e-ribbon-overall-of-btn.e-ribbon-hide {
        display: none;
      }
    }

    &.e-ribbon-minimize .e-ribbon-tab .e-content,
    &.e-ribbon-minimize .e-ribbon-collapse-btn,
    &.e-ribbon-minimize .e-ribbon-overall-of-btn {
      display: none;
    }

    &.e-ribbon-simplified-mode {

      .e-ribbon-tab .e-hscroll-bar {
        overflow-y: hidden;
      }

      .e-input-group {
        margin-bottom: 0;
      }

      .e-ribbon-group {
        padding-top: $ribbon-simplified-group-padding;
        height: auto;

        &.e-ribbon-emptyCollection::after {
          display: none;
        }

        &.e-ribbon-emptyCollection {
          .e-ribbon-group-container {
            padding: 0;
          }
        }
      }

      .e-ribbon-launcher-icon {
        display: none;
      }

      .e-ribbon-group-container {
        padding: $ribbon-simplified-group-content-padding;
      }

      .e-ribbon-group-content {
        padding: 0;
        height: $ribbon-simplified-group-content-height;
        align-items: center;
      }
    }

    .e-ribbon-tab-item {
      display: inline-flex;
    }

    .e-ribbon-group {
      position: relative;
      padding-top: $ribbon-group-padding;
      height: $ribbon-group-height;
    }

    .e-ribbon-group::after {
      border-right: 1px solid;
      content: '';
      height: calc(100% - 16px);
      position: absolute;
      top: 8px;
    }

    &:not(.e-rtl) {

      .e-ribbon-collapse-btn,
      .e-ribbon-help-template,
      .e-ribbon-group::after {
        right: 0;
      }

      .e-ribbon-overall-of-btn {
        right: $ribbon-overflow-collapse-btn-right;
      }

      .e-tab-header {
        left: var(--fileMenuWidth);
      }

      .e-ribbon-tab .e-hscroll.e-scroll-device {
        padding-right: 30px;
      }
    }

    &.e-rtl {

      .e-ribbon-collapse-btn,
      .e-ribbon-help-template,
      .e-ribbon-group::after {
        left: 0;
      }

      .e-ribbon-overall-of-btn {
        left: $ribbon-overflow-collapse-btn-right;
      }

      .e-tab-header {
        right: var(--fileMenuWidth);
      }

      .e-ribbon-tab .e-hscroll.e-scroll-device {
        padding-left: 30px;
      }
    }
  }

  .e-ribbon.e-rbn,
  .e-ribbon-group-overflow-ddb {
    border: $ribbon-border;

    .e-input-group {
      height: $ribbon-input-group-height;
      border-radius: $ribbon-input-group-border-radius;
      margin-bottom: $ribbon-input-group-margin;

      input.e-input {
        padding: $ribbon-input-padding;
        font-size: $ribbon-input-size;
        line-height: $ribbon-input-height;
        font-weight: $ribbon-input-weight;
        height: auto;
        min-height: auto;
      }

      &.e-control-wrapper {
        .e-input-group-icon {
          font-size: $ribbon-input-icon-size;
          line-height: $ribbon-input-icon-height;
          height: auto;
          padding: $ribbon-input-icon-padding;
          margin: 0;
          font-weight: $ribbon-input-icon-weight;
          border: none;
          min-width: auto;
          min-height: auto;
          border-radius: unset;

          &.e-ddl-icon {
            font-size: $ribbon-input-icon-size;
          }
        }

        .e-clear-icon {
          min-width: auto;
          min-height: auto;
          border-radius: unset;
        }
      }

      .e-clear-icon {
        min-width: auto;
      }
    }

    .e-ribbon-group-content {
      padding: $ribbon-group-content-padding;
    }

    .e-ribbon-content-height {
      height: $ribbon-group-content-height;
    }

    .e-ribbon-group-header {
      align-items: center;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      padding: $ribbon-group-header-padding;
      line-height: $ribbon-group-header-height;
      font-size: $ribbon-group-header-font-size;
    }

    .e-ribbon-launcher-icon {
      position: absolute;
      bottom: 0;
      margin: $ribbon-launcher-icon-margin;
      cursor: pointer;
      border: $ribbon-items-border;
    }

    &:not(.e-rtl) .e-ribbon-launcher {
      .e-ribbon-group-header {
        margin-right: $ribbon-group-header-margin;
      }

      .e-ribbon-launcher-icon {
        right: 0;
      }
    }

    &.e-rtl .e-ribbon-launcher {
      .e-ribbon-group-header {
        margin-left: $ribbon-group-header-margin;
      }

      .e-ribbon-launcher-icon {
        left: 0;
        margin: $ribbon-rtl-launcher-icon-margin;
      }
    }

    .e-ribbon-column {
      display: inline-flex;
      flex-direction: row;
    }

    .e-ribbon-row {
      display: inline-flex;
      flex-direction: column;
    }

    .e-ribbon-group-overflow,
    .e-ribbon-item {
      display: flex;
      padding: 1px;
      vertical-align: middle;

      .e-btn {
        border: $ribbon-items-border;
        border-radius: $ribbon-items-border-radius;
        font-weight: $ribbon-items-font-weight;
        font-size: $ribbon-items-btn-size;
        text-transform: none;
        box-shadow: none;

        &:focus {
          outline: none;
        }
      }

      &.e-ribbon-large-item {
        .e-btn {
          max-width: $ribbon-large-items-max-width;
          min-height: inherit;
          min-width: fit-content;
          white-space: normal;
          padding: $ribbon-large-items-btn-padding;
          line-height: $ribbon-large-items-btn-height;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          &.e-ribbon-group-overflow-ddb {
            max-width: 100%;
          }

          .e-btn-icon:not(.e-caret) {
            font-size: $ribbon-large-items-icon-size;
            font-weight: $ribbon-items-font-weight;
            padding: $ribbon-large-items-icon-padding;
          }

          .e-icon-top {
            height: 50%;
          }
        }

        & > .e-split-btn-wrapper.e-vertical .e-btn {
          justify-content: space-evenly;
          height: 50%;
        }

        .e-dropdown-btn {
          .e-caret {
            font-size: $ribbon-dropdown-caret-btn-size;
            padding: $ribbon-overflow-dropdown-btn-padding;
            line-height: $ribbon-dropdown-caret-btn-height;
          }
        }
      }
    }

    .e-ribbon-group-overflow {
      height: $ribbon-group-overflow-height;
      padding: $ribbon-group-overflow-padding;
    }

    .e-ribbon-item {
      min-height: 33%;
      padding: $ribbon-items-padding;

      .e-checkbox-wrapper {
        padding: $ribbon-items-checkbox-padding;

        .e-label {
          font-size: $ribbon-items-checkbox-size;
        }
      }

      .e-btn {
        box-shadow: none;

        &:disabled {
          pointer-events: none;
        }
      }

      .e-checkbox-wrapper {
        height: fit-content;
        margin: auto 0;
        width: max-content;
      }

      .e-colorpicker-wrapper {
        border: 1px solid transparent;
        border-radius: $ribbon-items-border-radius;

        .e-split-btn-wrapper.e-rtl .e-split-colorpicker {
          &.e-split-btn {
            padding: 0;
          }
        }
      }

      .e-split-btn-wrapper {
        border: 1px solid transparent;
        border-radius: $ribbon-items-border-radius;
        box-shadow: none;

        .e-btn {
          border-radius: 0;
        }

        .e-dropdown-btn .e-caret {
          font-size: $ribbon-dropdown-caret-btn-size;
          padding: $ribbon-dropdown-btn-padding;
        }
      }

      &.e-ribbon-large-item {
        min-height: 100%;

        .e-split-btn-wrapper.e-vertical {
          height: 100%;

          .e-dropdown-btn {
            margin: auto;
          }
        }
      }

      &.e-ribbon-small-item,
      &.e-ribbon-medium-item {
        .e-btn {
          white-space: nowrap;
          padding: $ribbon-items-btn-padding;
          line-height: $ribbon-items-height;

          .e-btn-icon {
            font-size: 16px;
            line-height: 16px;
            margin: $ribbon-items-margin;
          }
        }

        .e-colorpicker-wrapper .e-split-btn-wrapper {
          border: none;
        }

        .e-split-colorpicker.e-split-btn {
          .e-btn-icon {
            height: 16px;
            width: 16px;
          }

          .e-split-preview {
            border-radius: unset;
          }
        }

        .e-dropdown-btn .e-caret {
          font-size: $ribbon-dropdown-caret-btn-size;
          padding: $ribbon-dropdown-caret-btn-padding;
          line-height: $ribbon-dropdown-caret-btn-height;
          margin: 0;
          width: auto;
        }

        .e-split-btn-wrapper .e-btn {
          margin: 0;
        }
      }

      &.e-ribbon-medium-item {
        .e-btn {
          align-items: center;
          display: flex;

          .e-btn-icon.e-icon-left {
            width: auto;
          }

          &.e-dropdown-btn:not(.e-icon-btn) .e-caret {
            margin: $ribbon-items-margin;
            padding: 0;
          }
        }
      }
    }

    .e-ribbon-vertical-center:not(.e-ribbon-large-item) {
      margin-bottom: auto;
      margin-top: auto;
    }

    &:not(.e-rtl) .e-ribbon-item {

      &.e-ribbon-small-item,
      &.e-ribbon-medium-item {
        .e-btn {
          &:not(.e-icon-btn, .e-dropdown-btn) {
            padding: 0 4px 0 0;
          }
        }
      }

      &.e-ribbon-medium-item {
        .e-btn {
          .e-btn-icon.e-icon-left {
            padding: 0 2px 0 0;
          }
        }
      }
    }

    &.e-rtl .e-ribbon-item {

      &.e-ribbon-small-item,
      &.e-ribbon-medium-item {
        .e-btn {
          &:not(.e-icon-btn, .e-dropdown-btn) {
            padding: 0 0 0 4px;
          }
        }
      }

      &.e-ribbon-medium-item {
        .e-btn {
          .e-btn-icon.e-icon-left {
            padding: 0 0 0 2px;
          }
        }
      }
    }
  }

  .e-ribbon-group-overflow-ddb {
    .e-ribbon-of-tab:not(.e-ribbon-active) {
      display: none;
    }

    .e-ribbon-overflow-target {

      .e-ribbon-item {

        & > .e-input-group,
        .e-ribbon-template {
          margin: $ribbon-overflow-wrapper-item-margin;
        }
      }

      .e-ribbon-item > .e-checkbox-wrapper {
        margin: $ribbon-items-margin;
        padding: 0;
      }

      .e-ribbon-item.e-ribbon-medium-item {
        padding: $ribbon-overflow-item-padding;
        width: 100%;

        > .e-split-btn-wrapper .e-btn,
        > .e-btn {
          line-height: $ribbon-overflow-item-btn-height;
          overflow: hidden;
        }

        >.e-split-btn-wrapper {
          width: inherit;
        }

        >.e-split-btn-wrapper .e-split-btn,
        >.e-btn {
          width: 100%;
          justify-content: flex-start;
        }
      }

      .e-ribbon-overflow-header {
        padding: $ribbon-overflow-header-padding;
        font-weight: $ribbon-overflow-header-weight;
        line-height: $ribbon-overflow-header-height;
      }
    }
  }

  .e-ribbon-group-overflow-ddb:not(.e-rtl) {
    .e-ribbon-overflow-target .e-ribbon-item {

      >.e-split-btn-wrapper,
      >.e-dropdown-btn {
        .e-icons.e-caret {
          transform: rotate(-90deg);
          padding: $ribbon-items-margin;
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .e-rtl.e-ribbon-group-overflow-ddb {
    .e-ribbon-overflow-target .e-ribbon-item {

      >.e-split-btn-wrapper,
      >.e-dropdown-btn {
        .e-icons.e-caret {
          transform: rotate(90deg);
          padding: $ribbon-items-margin;
          margin: 0 auto 0 0;
        }
      }
    }
  }

  .e-ribbon-menu {
    display: block;

    &.e-menu-wrapper ul.e-vertical,
    &.e-menu-wrapper ul.e-ul {
      &.e-menu {
        border: $ribbon-menu-border;
        border-radius: $ribbon-menu-border-radius;
      }

      .e-menu-item {
        border-radius: unset;

        .e-menu-icon {
          width: auto;
        }

        &.e-blankicon {
          padding-left: $ribbon-menu-blank-icon-padding !important; /* stylelint-disable-line declaration-no-important */
        }
      }
    }
  }

  .e-ribbon-control.e-dropdown-popup ul .e-item {
    font-size: $ribbon-ddb-popup-font-size;
    height: $ribbon-ddb-popup-height;
    align-items: center;

    .e-menu-icon {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .e-ribbon-tooltip {
    .e-tip-content {
      padding: 4px;

      .e-ribbon-tooltip-title {
        font-size: 12px;
        line-height: 18px;
        padding: 4px 4px 0;
      }

      .e-ribbon-text-container {
        padding: 4px;
        display: flex;

        .e-ribbon-tooltip-content {
          font-size: 10px;
          line-height: 15px;
        }

        .e-ribbon-tooltip-icon {
          font-size: 32px;
          line-height: 32px;
          padding-right: 8px;
        }
      }
    }
  }

  .e-bigger.e-ribbon.e-rbn,
  .e-bigger .e-ribbon.e-rbn {

    .e-ribbon-group {
      height: $ribbon-bigger-group-height;
    }

    .e-ribbon-tab {
      .e-ribbon-file-menu {
        line-height: $ribbon-bigger-file-menu-height;
        padding: $ribbon-bigger-file-menu-padding;
        font-size: $ribbon-bigger-file-menu-size;
      }

      .e-ribbon-help-template {
        padding-right: $ribbon-bigger-help-template-padding;
        height: $ribbon-bigger-help-template-height;
      }

      .e-hscroll {
        min-height: auto;
      }

      .e-tab-header {
        .e-hor-nav {
          height: $ribbon-bigger-horizontal-nav-height;
          min-height: $ribbon-bigger-horizontal-nav-height;
        }

        .e-toolbar-items {
          height: $ribbon-bigger-toolbar-items-height;
        }

        .e-toolbar-item {
          margin-right: 0;

          .e-tab-text {
            font-size: $ribbon-bigger-tab-text-size;
            padding: $ribbon-bigger-tab-text-padding;
            line-height: $ribbon-bigger-tab-text-height;
          }
        }
      }

      &.e-focused .e-tab-header {
        .e-toolbar-item .e-tab-wrap {

          &:focus,
          &:focus .e-text-wrap {
            height: $ribbon-bigger-toolbar-items-height;
          }
        }
      }
    }

    &.e-ribbon-collapsible {
      .e-content {
        width: calc(100% - $ribbon-bigger-collapsible-content-width);
      }

      .e-ribbon-collapse-btn {
        line-height: $ribbon-bigger-collapse-btn-height;
        font-size: $ribbon-bigger-collapse-btn-font-size;
        padding: $ribbon-bigger-collapse-btn-padding;
      }

      &.e-ribbon-overflow {
        .e-content {
          width: calc(100% - $ribbon-bigger-collapsible-content-width - $ribbon-bigger-overflow-btn-content-width);
        }

        .e-ribbon-group-of-btn,
        .e-ribbon-overall-of-btn {
          height: $ribbon-bigger-overall-overflow-btn-height;

          .e-btn-icon {
            font-size: $ribbon-bigger-overflow-btn-font-size;
            padding: $ribbon-bigger-overflow-btn-icon-padding;
            line-height: $ribbon-bigger-overflow-btn-height;
          }
        }

        .e-ribbon-overall-of-btn {
          bottom: $ribbon-bigger-overall-overflow-btn-position;
        }

        &:not(.e-rtl) .e-ribbon-overall-of-btn {
          right: $ribbon-bigger-overflow-collapse-btn-right;
        }

        &.e-rtl .e-ribbon-overall-of-btn {
          left: $ribbon-bigger-overflow-collapse-btn-right;
        }
      }
    }
  }

  .e-bigger.e-ribbon.e-rbn,
  .e-bigger .e-ribbon.e-rbn,
  .e-bigger .e-ribbon-group-overflow-ddb,
  .e-bigger.e-ribbon-group-overflow-ddb {

    .e-ribbon-group-header {
      padding: $ribbon-bigger-group-header-padding;
      line-height: $ribbon-bigger-group-header-height;
      font-size: $ribbon-bigger-group-header-font-size;
    }

    .e-ribbon-launcher-icon {
      margin: $ribbon-bigger-launcher-icon-margin;
    }

    &.e-rtl .e-ribbon-launcher-icon {
      margin: $ribbon-bigger-rtl-launcher-icon-margin;
    }

    &.e-ribbon-simplified-mode {

      .e-ribbon-group {
        height: auto;
      }

      .e-input-group {
        margin-bottom: 0;
      }

      .e-ribbon-group-content {
        height: $ribbon-bigger-simplified-group-content-height;
      }
    }

    .e-ribbon-content-height {
      height: $ribbon-bigger-content-height;
    }

    .e-ribbon-group-overflow {
      height: $ribbon-bigger-group-overflow-content-height;
    }

    .e-input-group {
      height: $ribbon-bigger-input-group-height;
      margin-bottom: $ribbon-bigger-input-group-margin;

      &:not(.e-float-input) .e-input {
        min-height: auto;
      }

      input.e-input {
        padding: $ribbon-bigger-input-padding;
        font-size: $ribbon-bigger-input-items-size;
        line-height: $ribbon-bigger-input-items-height;
        height: auto;
      }

      &.e-control-wrapper {
        .e-input-group-icon {
          font-size: $ribbon-bigger-input-items-btn-size;
          line-height: $ribbon-bigger-input-items-btn-height;
          padding: $ribbon-bigger-input-icon-padding;

          &.e-ddl-icon {
            font-size: $ribbon-bigger-input-items-btn-size;
          }
        }
      }
    }

    .e-ribbon-item {
      padding: $ribbon-bigger-items-padding;

      .e-checkbox-wrapper {
        padding: $ribbon-bigger-items-checkbox-padding;

        .e-label {
          font-size: $ribbon-bigger-items-checkbox-size;
        }
      }
    }

    .e-ribbon-group-overflow,
    .e-ribbon-item {
      &.e-ribbon-large-item {
        .e-btn {
          padding: $ribbon-bigger-large-items-btn-padding;
          font-size: $ribbon-bigger-large-items-btn-size;
          line-height: $ribbon-bigger-large-items-btn-height;

          .e-btn-icon:not(.e-caret) {
            font-size: $ribbon-bigger-large-items-icon-size;
            padding: $ribbon-bigger-large-items-icon-padding;
          }
        }

        .e-dropdown-btn {
          .e-caret {
            font-size: $ribbon-bigger-dropdown-btn-size;
            line-height: $ribbon-bigger-dropdown-btn-line-height;
            padding: $ribbon-bigger-caret-dropdown-btn-padding;
          }
        }
      }

      .e-split-btn-wrapper {
        .e-dropdown-btn {
          .e-caret {
            font-size: $ribbon-bigger-dropdown-btn-size;
            line-height: $ribbon-bigger-dropdown-btn-line-height;
            padding: $ribbon-bigger-dropdown-btn-padding;
          }
        }
      }

      &.e-ribbon-medium-item,
      &.e-ribbon-small-item {
        .e-btn {
          font-size: $ribbon-bigger-items-btn-size;
          line-height: $ribbon-bigger-items-height;

          .e-btn-icon {
            font-size: $ribbon-bigger-items-icon-size;
            margin: $ribbon-bigger-items-margin;
            line-height: $ribbon-bigger-items-icon-height;
          }
        }

        .e-split-colorpicker.e-split-btn {
          padding: 0;
          border: none;

          .e-btn-icon {
            height: $ribbon-bigger-color-picker-height;
            width: $ribbon-bigger-color-picker-width;
          }
        }

        .e-dropdown-btn .e-caret {
          font-size: $ribbon-bigger-dropdown-caret-btn-size;
          padding: $ribbon-bigger-dropdown-caret-btn-padding;
          line-height: $ribbon-bigger-dropdown-caret-btn-height;
          margin: 0;
        }
      }
    }
  }

  .e-bigger .e-ribbon-group-overflow-ddb,
  .e-bigger.e-ribbon-group-overflow-ddb {
    .e-ribbon-overflow-target {

      .e-ribbon-item {

        & > .e-input-group,
        .e-ribbon-template {
          margin: $ribbon-bigger-overflow-wrapper-item-margin;
        }
      }

      .e-ribbon-item > .e-checkbox-wrapper {
        margin: $ribbon-bigger-items-margin;
        padding: 0;
      }
    }

    &:not(.e-rtl) {
      .e-ribbon-overflow-target .e-ribbon-item {

        >.e-split-btn-wrapper,
        >.e-dropdown-btn {
          .e-icons.e-caret {
            padding: $ribbon-bigger-items-margin;
          }
        }
      }
    }

    &.e-rtl {
      .e-ribbon-overflow-target .e-ribbon-item {

        >.e-split-btn-wrapper,
        >.e-dropdown-btn {
          .e-icons.e-caret {
            padding: $ribbon-bigger-items-margin;
          }
        }
      }
    }
  }

  .e-bigger .e-ribbon-control.e-dropdown-popup ul .e-item {
    font-size: $ribbon-bigger-ddb-popup-font-size;
    height: $ribbon-bigger-ddb-popup-height;

    .e-menu-icon {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .e-bigger .e-ribbon-menu.e-menu-wrapper ul.e-vertical,
  .e-bigger.e-ribbon-menu.e-menu-wrapper ul.e-vertical,
  .e-bigger .e-ribbon-menu.e-menu-wrapper ul.e-ul,
  .e-bigger.e-ribbon-menu.e-menu-wrapper ul.e-ul {
    .e-menu-item {

      &.e-blankicon {
        padding-left: $ribbon-bigger-menu-blank-icon-padding !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}


@include export-module('ribbon-theme') {

  .e-ribbon.e-rbn {
    .e-ribbon-tab {
      .e-tab-header {
        border-color: $ribbon-border-color;

        .e-toolbar-item {
          .e-tab-wrap {
            .e-tab-text {
              color: $ribbon-text-color;
            }

            &:hover .e-tab-text {
              color: $ribbon-tab-text-hover-color;
            }
          }

          &.e-active .e-tab-wrap .e-tab-text {
            color: $ribbon-active-tab-color;
          }
        }

        .e-indicator {
          background: $ribbon-active-tab-indicator-color;
        }
      }

      .e-hscroll .e-scroll-nav {
        border-color: $ribbon-hscroll-border-color;
        background: $ribbon-hscroll-background-color;

        .e-nav-arrow {
          color: $ribbon-hscroll-color;
        }

        &:hover {
          border-color: $ribbon-hscroll-hover-border-color;
          background: $ribbon-hscroll-hover-background-color;

          .e-nav-arrow {
            color: $ribbon-hscroll-hover-color;
          }
        }

        &:active {
          border-color: $ribbon-hscroll-active-border-color;
          background: $ribbon-hscroll-active-background-color;

          .e-nav-arrow {
            color: $ribbon-hscroll-active-color;
          }
        }

        &:focus {
          border-color: $ribbon-hscroll-focus-border-color;
          background: $ribbon-hscroll-focus-background-color;

          .e-nav-arrow {
            color: $ribbon-hscroll-focus-color;
          }
        }
      }

      .e-ribbon-file-menu {
        color: $ribbon-text-color;
        background: $ribbon-items-background-color;
        border-color: $ribbon-border-color;

        &.e-active {
          color: $ribbon-active-file-menu-color;
          background: $ribbon-active-file-menu-background;
        }

        &:hover:not(.e-active) {
          color: $ribbon-tab-text-hover-color;
        }

        &:focus-visible {
          color: $ribbon-tab-text-focus-color;
        }
      }

      .e-ribbon-help-template {
        border-color: $ribbon-border-color;
      }
    }

    .e-ribbon-tab.e-focused .e-tab-header {
      .e-tab-wrap:focus {
        .e-tab-text {
          color: $ribbon-tab-text-focus-color;
        }
      }
    }

    .e-ribbon-collapse-btn {
      color: $ribbon-items-icon-color;
      background: $ribbon-collapse-btn-background;
      border-color: transparent;

      &:hover,
      &:focus-visible {
        background: $ribbon-items-focus-background-color;
        color: $ribbon-items-focus-color;
        border-color: $ribbon-items-focus-border-color;
      }
    }
  }

  .e-ribbon.e-rbn,
  .e-ribbon-group-overflow-ddb {
    background: $ribbon-header-bg-color;
    border-color: $ribbon-border-color;

    .e-ribbon-item:not(.e-disabled) {

      .e-checkbox-wrapper {
        .e-label {
          color: $ribbon-text-color;
        }

        &.e-checkbox-disabled .e-label {
          color: $ribbon-items-disabled-color;
        }
      }

      .e-colorpicker-wrapper {

        &.e-ribbon-hover,
        &.e-ribbon-open {
          border-color: $ribbon-items-hover-background-color;
        }
      }

      .e-split-btn-wrapper {

        &.e-ribbon-hover,
        &.e-ribbon-open {
          border-color: $ribbon-items-hover-background-color;
        }

        &.e-vertical:hover .e-split-btn:not(:hover) {
          border-color: transparent;
        }
      }
    }

    .e-ribbon-item {
      .e-split-btn-wrapper {
        &.e-vertical:hover .e-split-btn:disabled {
          border-color: transparent;
        }
      }
    }

    .e-ribbon-item,
    .e-ribbon-group-overflow,
    &.e-ribbon-overflow {

      .e-btn:not(.e-ribbon-file-menu),
      .e-ribbon-group-of-btn {
        color: $ribbon-text-color;
        background: $ribbon-items-background-color;
        border-color: transparent;

        .e-btn-icon {
          color: $ribbon-items-icon-color;
        }

        &:hover {
          background: $ribbon-items-hover-background-color;
          color: $ribbon-items-hover-color;
          border-color: $ribbon-items-hover-border-color;

          .e-btn-icon {
            color: $ribbon-items-hover-color;
          }
        }

        &.e-active,
        &:active {
          background: $ribbon-items-active-background-color;
          color: $ribbon-items-active-color;

          .e-btn-icon {
            color: $ribbon-items-active-color;
          }
        }

        &:focus-visible {
          background: $ribbon-items-focus-background-color;
          color: $ribbon-items-focus-color;
          border-color: $ribbon-items-focus-border-color;

          .e-btn-icon {
            color: $ribbon-items-focus-color;
          }
        }

        &:disabled {
          color: $ribbon-items-disabled-color;

          .e-btn-icon {
            color: $ribbon-items-disabled-color;
          }
        }
      }
    }

    .e-ribbon-group-header {
      color: $ribbon-text-color;
    }

    .e-ribbon-launcher-icon {
      border-color: transparent;

      &:hover,
      &:focus-visible {
        background: $ribbon-items-focus-background-color;
        color: $ribbon-items-focus-color;
        border-color: $ribbon-items-focus-border-color;
      }
    }

    .e-input-group {
      border-color: $ribbon-input-group-border-color;
      background: $ribbon-input-group-background-color;

      input.e-input {
        color: $ribbon-text-color;
      }

      &.e-control-wrapper {
        .e-input-group-icon {
          color: $ribbon-items-icon-color;

          &:hover {
            background: $ribbon-items-hover-background-color;
            color: $ribbon-items-hover-color;
          }
        }
      }

      &.e-disabled,
      &:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled {
        border-color: $ribbon-items-disabled-color;
      }
    }

    .e-ribbon-group::after {
      border-color: $ribbon-group-border-color;
    }
  }

  .e-ribbon-group-overflow-ddb {
    &.e-dropdown-popup {
      background: $ribbon-header-bg-color;
      border-color: $ribbon-border-color;
    }

    .e-ribbon-overflow-target {
      .e-ribbon-of-tab {
        box-shadow: $ribbon-overflow-box-shadow;
      }
    }
  }

  .e-bigger.e-ribbon.e-rbn,
  .e-bigger .e-ribbon.e-rbn,
  .e-bigger .e-ribbon-group-overflow-ddb,
  .e-bigger.e-ribbon-group-overflow-ddb {
    .e-ribbon-item .e-split-colorpicker.e-split-btn {
      background: $ribbon-items-background-color;

      &:hover {
        background: $ribbon-items-hover-background-color;
      }

      &.e-active,
      &:active {
        background: $ribbon-items-active-background-color;
      }

      &:focus {
        background: $ribbon-items-focus-background-color;
      }
    }
  }

  .e-bigger .e-ribbon-group-overflow-ddb {
    &.e-dropdown-popup {
      background: $ribbon-header-bg-color;
      border-color: $ribbon-border-color;
    }
  }

  .e-ribbon-tooltip.e-tooltip-wrap {
    &.e-popup {
      background: $ribbon-tooltip-background-color;
    }

    .e-tip-content {
      color: $ribbon-tooltip-text-color;
    }

    .e-arrow-tip .e-arrow-tip-inner.e-tip-top {
      color: $ribbon-tooltip-background-color;
    }
  }

  .e-ribbon-menu {

    &.e-menu-wrapper,
    &.e-menu-container {
      &:not(.e-menu-popup) {
        background: $ribbon-menu-background-color;
      }
    }

    &.e-menu-wrapper ul.e-vertical,
    &.e-menu-wrapper ul.e-ul {
      &.e-menu {
        border-color: $ribbon-menu-border-color;
        background: $ribbon-menu-items-background-color;
      }

      .e-menu-item {
        color: $ribbon-text-color;

        .e-menu-icon,
        .e-caret {
          color: $ribbon-menu-items-icon-color;
        }

        &.e-focused {
          background: $ribbon-menu-hover-background-color;
          color: $ribbon-menu-items-color;
        }
      }
    }
  }
}


@include export-module('ribbon-tailwind-icons') {
  .e-ribbon {
    & .e-drop-icon {
      &::before {
        content: '\e729';
      }
    }
  }
}

