
$btn-font-weight: 500;
$btn-font-size: 14px;
$btn-color: rgba(0, 0, 0, .87);
$btn-bgcolor: #fafafa;
$btn-border: 1px solid;
$btn-border-color: transparent;
$btn-disabled-border: $btn-border;
$btn-border-radius: 2px;
$btn-hover-border-color: $btn-border-color;
$btn-active-border-color: $btn-border-color;
$btn-hover-color: $btn-color;
$btn-focus-color: $btn-color;
$btn-focus-bgcolor: $btn-color;
$btn-active-color: $btn-color;
$btn-icon-margin-top: -2px;
$btn-focus-border-color: $btn-border-color;
$btn-text-transform: none;
$btn-small-font-size: 12px;
$btn-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
$btn-hover-focus-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .26);
$btn-hover-bgcolor: rgba(0, 0, 0, .12);
$btn-active-bgcolor: rgba(255, 255, 255, .12);
$btn-active-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
$btn-disabled-color: rgba(0, 0, 0, .26);
$btn-disabled-bgcolor: $btn-hover-bgcolor;
$btn-disabled-border-color: $btn-border-color;
$brand-success-darken-10: #449d44;
$brand-success-darken-15: #3d8b3d;
$brand-success-darken-25: #2d672d;
$brand-success-darken-35: #1e441e;
$brand-info-darken-10: #31b0d5;
$brand-info-darken-15: #28a1c5;
$brand-info-darken-25: #1f7e9a;
$brand-info-darken-35: #175b70;
$brand-warning-darken-10: #ec971f;
$brand-warning-darken-15: #df8a13;
$brand-warning-darken-25: #b06d0f;
$brand-warning-darken-35: #81500b;
$brand-danger-darken-10: #c9302c;
$brand-danger-darken-15: #b42b27;
$brand-danger-darken-25: #8b211e;
$brand-danger-darken-35: #611715;
$btn-primary-color: #fff;
$btn-primary-bgcolor: #ff4081;
$btn-primary-hover-color: #fff;
$btn-primary-focus-color: #fff;
$btn-primary-focus-bgcolor: $btn-primary-hover-color;
$btn-primary-active-color: #fff;
$btn-primary-hover-bgcolor: #e03872;
$btn-primary-active-bgcolor: #ff5790;
$btn-primary-border-color: $btn-border-color;
$btn-primary-hover-border-color: $btn-border-color;
$btn-primary-focus-border-color: $btn-border-color;
$btn-primary-active-border-color: $btn-border-color;
$btn-success-border-color: $btn-border-color;
$btn-success-hover-border-color: $btn-border-color;
$btn-success-focus-border-color: $btn-border-color;
$btn-success-active-border-color: $btn-border-color;
$btn-info-border-color: $btn-border-color;
$btn-info-hover-border-color: $btn-border-color;
$btn-info-focus-border-color: $btn-border-color;
$btn-info-active-border-color: $btn-border-color;
$btn-warning-border-color: $btn-border-color;
$btn-warning-hover-border-color: $btn-border-color;
$btn-warning-focus-border-color: $btn-border-color;
$btn-warning-active-border-color: $btn-border-color;
$btn-danger-border-color: $btn-border-color;
$btn-danger-hover-border-color: $btn-border-color;
$btn-danger-focus-border-color: $btn-border-color;
$btn-danger-active-border-color: $btn-border-color;
$btn-flat-color: #ff4081;
$btn-flat-border: $btn-border;
$btn-flat-border-color: transparent;
$btn-flat-hover-color: $btn-flat-color;
$btn-flat-focus-color: $btn-flat-color;
$btn-flat-active-color: $btn-flat-color;
$btn-flat-bgcolor: transparent;
$btn-flat-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-focus-bgcolor: $btn-flat-hover-bgcolor;
$btn-flat-primary-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-success-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-info-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-warning-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-danger-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-box-shadow: none;
$btn-flat-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-primary-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-success-active-bgcolor: rgba(0, 77, 68, .12);
$btn-flat-info-active-bgcolor: rgba(11, 125, 218, .12);
$btn-flat-warning-active-bgcolor: rgba(204, 92, 0, .12);
$btn-flat-danger-active-bgcolor: rgba(154, 24, 24, .12);
$btn-flat-success-focus-bgcolor: $btn-flat-success-hover-bgcolor;
$btn-flat-info-focus-bgcolor: $btn-flat-info-hover-bgcolor;
$btn-flat-warning-focus-bgcolor: $btn-flat-warning-hover-bgcolor;
$btn-flat-danger-focus-bgcolor: $btn-flat-danger-hover-bgcolor;
$btn-outline-bgcolor: transparent;
$btn-outline-hover-bgcolor: rgba(0, 0, 0, .12);
$btn-outline-active-bgcolor: rgba(0, 0, 0, .12);
$btn-outline-border-color: #adadad;
$btn-success-color: #fff;
$btn-success-bgcolor: #4d841d;
$btn-success-hover-color: #fff;
$btn-success-hover-bgcolor:  #449d44;
$btn-success-active-color: $btn-success-color;
$btn-info-color: #fff;
$btn-info-bgcolor: #0378d5;
$btn-info-hover-color: #fff;
$btn-info-hover-bgcolor: #0b7dda;
$btn-warning-color: #fff;
$btn-warning-bgcolor: #c15700;
$btn-warning-hover-color: #fff;
$btn-warning-hover-bgcolor: #cc5c00;
$btn-warning-active-color: $btn-warning-color;
$btn-danger-color: #fff;
$btn-danger-active-color: $btn-danger-color;
$btn-danger-bgcolor: #d64113;
$btn-danger-hover-color: #fff;
$btn-danger-hover-bgcolor: #ba3912;
$btn-link-color: #0d47a1;
$btn-link-bgcolor: transparent;
$btn-link-border-color: transparent;
$btn-link-hover-color: #0a3576;
$btn-outline-color: $btn-color;
$btn-outline-hover-color: $btn-color;
$btn-outline-focus-color: $btn-color;
$btn-outline-active-color: $btn-color;
$btn-outline-focus-bgcolor: $btn-outline-hover-bgcolor;
$btn-bigger-font-size: $btn-font-size;
$btn-bigger-small-font-size: $btn-font-size;
$btn-icon-font-size: 11px;
$btn-small-icon-font-size: 11px;
$btn-bigger-icon-font-size: 11px;
$btn-bigger-small-icon-font-size: 11px;
$btn-round-bgcolor: $btn-bgcolor;
$btn-round-color: $btn-color;
$btn-round-border-color: $btn-border-color;
$btn-round-hover-bgcolor: $btn-hover-bgcolor;
$btn-round-hover-color: $btn-color;
$btn-round-height: 42px;
$btn-round-width: 42px;
$btn-round-bigger-height: 56px;
$btn-round-bigger-width: 56px;
$btn-round-font-size: 14px;
$btn-small-round-font-size: 12px;
$btn-bigger-round-font-size: 16px;
$btn-bigger-small-round-font-size: 14px;
$btn-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-success-focus-color: $btn-success-hover-color;
$btn-success-active-bgcolor: $btn-success-hover-bgcolor;
$btn-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-info-active-bgcolor: $btn-info-hover-bgcolor;
$btn-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-warning-active-bgcolor: $btn-warning-hover-bgcolor;
$btn-danger-focus-bgcolor: $btn-danger-hover-bgcolor;
$btn-danger-active-bgcolor: $btn-danger-hover-bgcolor;
$btn-flat-primary-color: $btn-primary-bgcolor;
$btn-flat-success-color: $btn-success-bgcolor;
$btn-flat-info-color: $btn-info-bgcolor;
$btn-flat-warning-color: $btn-warning-bgcolor;
$btn-flat-danger-color: $btn-danger-bgcolor;
$btn-flat-primary-hover-color: $btn-primary-bgcolor;
$btn-flat-success-hover-color: $btn-success-bgcolor;
$btn-flat-info-hover-color: $btn-info-bgcolor;
$btn-flat-warning-hover-color: $btn-warning-bgcolor;
$btn-flat-danger-hover-color: $btn-danger-bgcolor;
$btn-flat-primary-focus-color: $btn-primary-bgcolor;
$btn-flat-success-focus-color: $btn-success-bgcolor;
$btn-flat-info-focus-color: $btn-info-bgcolor;
$btn-flat-warning-focus-color: $btn-warning-bgcolor;
$btn-flat-danger-focus-color: $btn-danger-bgcolor;
$btn-flat-primary-active-color: $btn-primary-bgcolor;
$btn-flat-success-active-color: $btn-success-bgcolor;
$btn-flat-info-active-color: $btn-info-bgcolor;
$btn-flat-warning-active-color: $btn-warning-bgcolor;
$btn-flat-danger-active-color: $btn-danger-bgcolor;
$btn-icon-margin: -.73em;
$btn-small-icon-margin: -.667em;
$btn-bigger-icon-margin: -1.091em;
$btn-bigger-small-icon-margin: -1.091em;
$btn-icon-width: 2.45456em;
$icon-btn-width: 1em;
$icon-small-btn-width: 1em;
$icon-bigger-btn-width: 1em;
$icon-bigger-small-btn-width: 1em;
$btn-small-icon-width: 2.182em;
$btn-bigger-icon-width: 3.273em;
$btn-bigger-small-icon-width: 2.91em;
$btn-round-icon-line-height: 40px;
$btn-small-round-icon-line-height: 28px;
$btn-bigger-round-icon-line-height: 54px;
$btn-bigger-small-round-icon-line-height: 38px;
$btn-text-line-height: 25px;
$btn-small-text-line-height: 22px;
$btn-bigger-small-text-line-height: 30px;
$btn-bigger-text-line-height: 35px;
$btn-padding: 5px 12px;
$btn-small-padding: 5px 12px;
$btn-bigger-padding: 10px 16px;
$btn-bigger-small-padding: 8px 16px;
$btn-icon-padding: 5px 7px;
$btn-small-icon-padding: 4px 5px;
$btn-bigger-icon-padding: 10px 8px 9px;
$btn-bigger-small-icon-padding: 8px 7px 7px;
$btn-primary-disabled-bgcolor: transparent;
$btn-success-disabled-bgcolor: #00695c;
$btn-info-disabled-bgcolor: #2196f3;
$btn-warning-disabled-bgcolor: #ef6c00;
$btn-danger-disabled-bgcolor: #b71c1c;
$btn-primary-disabled-color: transparent;
$btn-success-disabled-color: #00695c;
$btn-info-disabled-color: #2196f3;
$btn-warning-disabled-color: #ef6c00;
$btn-danger-disabled-color: #b71c1c;
$btn-primary-disabled-border-color: transparent;
$btn-success-disabled-border-color: #00695c;
$btn-info-disabled-border-color: #2196f3;
$btn-warning-disabled-border-color: #ef6c00;
$btn-danger-disabled-border-color: #b71c1c;
$btn-link-disabled-bgcolor: transparent;
$btn-flat-primary-disabled-color: $btn-disabled-color;
$btn-flat-success-disabled-color: #00695c;
$btn-flat-info-disabled-color: #2196f3;
$btn-flat-warning-disabled-color: #ef6c00;
$btn-flat-danger-disabled-color: #b71c1c;
$btn-outline-primary-disabled-color: transparent;
$btn-outline-success-disabled-color: #00695c;
$btn-outline-info-disabled-color: #2196f3;
$btn-outline-warning-disabled-color: #ef6c00;
$btn-outline-danger-disabled-color: #b71c1c;
$btn-outline-primary-disabled-border-color: transparent;
$btn-outline-success-disabled-border-color: #00695c;
$btn-outline-info-disabled-border-color: #2196f3;
$btn-outline-warning-disabled-border-color: #ef6c00;
$btn-outline-danger-disabled-border-color: #b71c1c;
$btn-outline-active-box-shadow: none;
$btn-round-small-height: 30px;
$btn-round-small-width: 30px;
$btn-round-bigger-small-height: 40px;
$btn-round-bigger-small-width: 40px;
$btn-flat-primary-bgcolor: $btn-flat-bgcolor;
$btn-flat-success-bgcolor: $btn-flat-bgcolor;
$btn-flat-info-bgcolor: $btn-flat-bgcolor;
$btn-flat-warning-bgcolor: $btn-flat-bgcolor;
$btn-flat-danger-bgcolor: $btn-flat-bgcolor;
$btn-flat-hover-border-color: $btn-flat-border-color;
$btn-flat-active-border-color: $btn-flat-border-color;
$btn-flat-focus-border-color: $btn-flat-border-color;
$btn-flat-disabled-border-color: $btn-flat-border-color;
$btn-flat-primary-border-color: $btn-flat-border-color;
$btn-flat-primary-hover-border-color: $btn-flat-border-color;
$btn-flat-primary-active-border-color: $btn-flat-border-color;
$btn-flat-primary-focus-border-color: $btn-flat-border-color;
$btn-flat-primary-disabled-border-color: $btn-flat-border-color;
$btn-flat-success-border-color: $btn-flat-border-color;
$btn-flat-success-hover-border-color: $btn-flat-border-color;
$btn-flat-success-active-border-color: $btn-flat-border-color;
$btn-flat-success-focus-border-color: $btn-flat-border-color;
$btn-flat-success-disabled-border-color: $btn-flat-border-color;
$btn-flat-info-border-color: $btn-flat-border-color;
$btn-flat-info-hover-border-color: $btn-flat-border-color;
$btn-flat-info-active-border-color: $btn-flat-border-color;
$btn-flat-info-focus-border-color: $btn-flat-border-color;
$btn-flat-info-disabled-border-color: $btn-flat-border-color;
$btn-flat-warning-border-color: $btn-flat-border-color;
$btn-flat-warning-hover-border-color: $btn-flat-border-color;
$btn-flat-warning-active-border-color: $btn-flat-border-color;
$btn-flat-warning-focus-border-color: $btn-flat-border-color;
$btn-flat-warning-disabled-border-color: $btn-flat-border-color;
$btn-flat-danger-border-color: $btn-flat-border-color;
$btn-flat-danger-hover-border-color: $btn-flat-border-color;
$btn-flat-danger-active-border-color: $btn-flat-border-color;
$btn-flat-danger-focus-border-color: $btn-flat-border-color;
$btn-flat-danger-disabled-border-color: $btn-flat-border-color;
$btn-flat-active-box-shadow: none;
$btn-outline-hover-border-color: $btn-outline-border-color;
$btn-outline-focus-border-color: $btn-outline-border-color;
$btn-outline-active-border-color: $btn-outline-border-color;
$btn-outline-primary-hover-border-color: $btn-outline-border-color;
$btn-outline-primary-focus-border-color: $btn-outline-border-color;
$btn-outline-primary-active-border-color: $btn-outline-border-color;
$btn-round-hover-border-color: $btn-round-hover-bgcolor;
$btn-round-focus-color: $btn-focus-color;
$btn-round-active-color: $btn-active-color;
$btn-info-active-color: $btn-info-color;
$btn-flat-primary-focus-bgcolor: $btn-flat-primary-hover-bgcolor;
$focus-outline: $btn-bgcolor 0 solid;
$focus-outline-offset: 0;
$active-outline: $btn-bgcolor 0 solid;
$active-outline-offset: 0;
$btn-outline-default-focus-border-color: $btn-hover-border-color;
$primary-outline: $btn-bgcolor 0 solid;
$btn-ripple-bgcolor: transparent;
$btn-ripple-primary-bgcolor: transparent;
$btn-ripple-success-bgcolor: transparent;
$btn-ripple-info-bgcolor: transparent;
$btn-ripple-warning-bgcolor: transparent;
$btn-ripple-danger-bgcolor: transparent;
$btn-ripple-flat-bgcolor: transparent;
$btn-ripple-flat-primary-bgcolor: transparent;
$btn-ripple-flat-success-bgcolor: transparent;
$btn-ripple-flat-info-bgcolor: transparent;
$btn-ripple-flat-warning-bgcolor: transparent;
$btn-ripple-flat-danger-bgcolor: transparent;
$btn-font-weight: 600;
$btn-font-size: 14px;
$btn-small-font-size: 12px;
$btn-bigger-font-size: 16px;
$btn-bigger-small-font-size: $btn-bigger-font-size;
$btn-color: $neutral-light-font;
$btn-bgcolor: $neutral-lighter;
$btn-border-color:  $neutral-lighter;
$btn-hover-bgcolor:  $neutral-light;
$btn-hover-border-color: $neutral-light;
$btn-hover-color: $neutral-light-fontalt;
$btn-focus-border-color: $neutral-light;
$btn-focus-color: $neutral-light-font;
$btn-focus-bgcolor: $neutral-lighter;
$btn-active-border-color: $neutral-tertiary-alt;
$btn-active-bgcolor: $neutral-tertiary-alt;
$btn-active-color: $neutral-light-fontalt;
$btn-border-radius: 0;
$btn-text-transform: none;
$btn-padding: 2px 20px;
$btn-small-padding: 3px 16px;
$btn-bigger-padding: 3px 24px;
$btn-bigger-small-padding: 1px 22px;
$btn-icon-padding: 2px 8px;
$btn-small-icon-padding: 3px 6px;
$btn-bigger-icon-padding: 3px 11px;
$btn-bigger-small-icon-padding: 1px 9px;
$btn-box-shadow: none;
$btn-hover-focus-box-shadow: none;
$btn-active-box-shadow: $btn-box-shadow;
$btn-disabled-color: $neutral-tertiary;
$btn-disabled-bgcolor: $btn-bgcolor;
$btn-disabled-border-color: $btn-border-color;
$btn-primary-color: $theme-primary-font;
$btn-primary-hover-color: $theme-primary-font;
$btn-primary-focus-color: $theme-primary-font;
$btn-primary-active-color: $theme-primary-font;
$btn-primary-bgcolor: $theme-primary;
$btn-primary-hover-bgcolor: $theme-dark-alt;
$btn-primary-focus-bgcolor: $theme-primary;
$btn-primary-active-bgcolor: $theme-dark;
$btn-primary-border-color: $theme-primary;
$btn-primary-hover-border-color: $btn-primary-hover-bgcolor;
$btn-primary-focus-border-color: $neutral-white;
$btn-primary-active-border-color: $btn-primary-active-bgcolor;
$btn-flat-color: $btn-color;
$btn-flat-border: $btn-border;
$btn-flat-border-color: $btn-border-color;
$btn-flat-hover-color: $btn-hover-color;
$btn-flat-focus-color: $btn-focus-color;
$btn-flat-active-color: $neutral-light-fontalt;
$btn-flat-box-shadow: $btn-box-shadow;
$btn-outline-bgcolor: transparent;
$btn-outline-color: $neutral-light-font;
$btn-outline-hover-bgcolor: $neutral-light;
$btn-outline-hover-color: $neutral-light-fontalt;
$btn-outline-focus-bgcolor: $neutral-light;
$btn-outline-default-focus-border-color: $neutral-quintenary;
$btn-outline-focus-color: $neutral-light-fontalt;
$btn-outline-active-color: $neutral-light-fontalt;
$btn-outline-active-bgcolor: $neutral-tertiary-alt;
$btn-outline-border-color: $neutral-quintenary;
$btn-icon-font-size: $btn-font-size;
$btn-small-icon-font-size: 11px;
$btn-bigger-icon-font-size: $btn-bigger-font-size;
$btn-bigger-small-icon-font-size: 15px;
$btn-round-bgcolor: $btn-bgcolor;
$btn-round-color: $btn-color;
$btn-round-border-color: $btn-border-color;
$btn-round-hover-bgcolor: $btn-hover-bgcolor;
$btn-round-hover-color: $btn-hover-color;
$btn-round-height: 2.57143em;
$btn-round-width: 2.57143em;
$btn-round-bigger-height: 2.875em;
$btn-round-bigger-width: 2.875em;
$btn-round-small-height: 2.5em;
$btn-round-small-width: 2.5em;
$btn-round-bigger-small-height: 2.5em;
$btn-round-bigger-small-width: 2.5em;
$btn-success-bgcolor: #137c10;
$btn-success-hover-bgcolor: #146511;
$btn-success-focus-bgcolor: #137c10;
$btn-success-active-bgcolor: #004b1d;
$btn-success-border-color: $btn-success-bgcolor;
$btn-success-hover-border-color: $btn-success-hover-bgcolor;
$btn-success-focus-border-color: $neutral-white;
$btn-success-active-border-color: $btn-success-active-bgcolor;
$btn-success-active-color: $btn-success-color;
$btn-info-bgcolor: #0378d5;
$btn-info-hover-bgcolor: #016cc0;
$btn-info-focus-bgcolor: #0378d5;
$btn-info-active-bgcolor: #065fa6;
$btn-info-border-color: $btn-info-bgcolor;
$btn-info-hover-border-color: $btn-info-hover-bgcolor;
$btn-info-focus-border-color: $neutral-white;
$btn-info-active-border-color: $btn-info-active-bgcolor;
$btn-warning-bgcolor: #d83b01;
$btn-warning-hover-bgcolor: #c73702;
$btn-warning-focus-bgcolor: #d83b01;
$btn-warning-active-bgcolor: #a22c01;
$btn-warning-border-color: $btn-warning-bgcolor;
$btn-warning-hover-border-color: $btn-warning-hover-bgcolor;
$btn-warning-focus-border-color: $neutral-white;
$btn-warning-active-border-color: $btn-warning-active-bgcolor;
$btn-danger-bgcolor: #a80000;
$btn-danger-hover-bgcolor: #930000;
$btn-danger-focus-bgcolor: #a80000;
$btn-danger-active-bgcolor: #7c0101;
$btn-danger-active-color: $btn-danger-color;
$btn-danger-border-color: $btn-danger-bgcolor;
$btn-danger-hover-border-color: $btn-danger-hover-bgcolor;
$btn-danger-focus-border-color: $neutral-white;
$btn-danger-active-border-color: $btn-danger-active-bgcolor;
$btn-flat-active-bgcolor: $neutral-tertiary-alt;
$btn-flat-primary-active-bgcolor: $btn-primary-active-bgcolor;
$btn-flat-success-active-bgcolor: $btn-success-active-bgcolor;
$btn-flat-info-active-bgcolor: $btn-info-active-bgcolor;
$btn-flat-warning-active-bgcolor: $btn-warning-active-bgcolor;
$btn-flat-danger-active-bgcolor: $btn-danger-active-bgcolor;
$btn-round-font-size: 16px;
$btn-small-round-font-size: 14px;
$btn-bigger-round-font-size: 20px;
$btn-bigger-small-round-font-size: 18px;
$btn-flat-primary-color: $btn-primary-color;
$btn-flat-success-color:  $btn-success-color;
$btn-flat-info-color:  $btn-info-color;
$btn-flat-warning-color:  $btn-warning-color;
$btn-flat-danger-color:   $btn-danger-color;
$btn-flat-primary-hover-color:  $btn-primary-hover-color;
$btn-flat-success-hover-color:  $btn-success-hover-color;
$btn-flat-info-hover-color: $btn-info-hover-color;
$btn-flat-warning-hover-color:  $btn-warning-hover-color;
$btn-flat-danger-hover-color: $btn-danger-hover-color;
$btn-flat-primary-focus-color: $btn-primary-hover-color;
$btn-flat-success-focus-color: $btn-success-hover-color;
$btn-flat-info-focus-color: $btn-info-hover-color;
$btn-flat-warning-focus-color: $btn-warning-hover-color;
$btn-flat-danger-focus-color: $btn-danger-hover-color;
$btn-flat-primary-active-color: $btn-primary-active-color;
$btn-flat-success-active-color: $btn-success-color;
$btn-flat-info-active-color: $btn-info-color;
$btn-flat-warning-active-color: $btn-warning-color;
$btn-flat-danger-active-color: $btn-danger-color;
$btn-icon-margin-top: -3px;
$btn-icon-margin: -.5714em;
$btn-small-icon-margin: -.7273em;
$btn-bigger-icon-margin: -.688em;
$btn-bigger-small-icon-margin: -.5334em;
$btn-icon-width: 1.929em;
$btn-small-icon-width: 2.182em;
$btn-bigger-icon-width: 2.25em;
$btn-bigger-small-icon-width: 2.1334em;
$icon-btn-width: 1em;
$icon-small-btn-width: .91em;
$icon-bigger-btn-width: 1em;
$icon-bigger-small-btn-width: 1.0667em;
$btn-round-icon-line-height: 2.125em;
$btn-small-round-icon-line-height: 2em;
$btn-bigger-round-icon-line-height: 2.2em;
$btn-bigger-small-round-icon-line-height: 2.1112em;
$btn-text-line-height: 1.8572em;
$btn-bigger-text-line-height: 2em;
$btn-small-text-line-height: 1.5em;
$btn-bigger-small-text-line-height: 2em;
$btn-primary-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-success-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-info-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-warning-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-danger-disabled-bgcolor: $btn-disabled-bgcolor;
$btn-primary-disabled-color: $btn-disabled-color;
$btn-success-disabled-color: $btn-disabled-color;
$btn-info-disabled-color: $btn-disabled-color;
$btn-warning-disabled-color: $btn-disabled-color;
$btn-danger-disabled-color: $btn-disabled-color;
$btn-primary-disabled-border-color: $btn-disabled-border-color;
$btn-success-disabled-border-color: $btn-disabled-border-color;
$btn-info-disabled-border-color: $btn-disabled-border-color;
$btn-warning-disabled-border-color: $btn-disabled-border-color;
$btn-danger-disabled-border-color: $btn-disabled-border-color;
$btn-flat-bgcolor: $btn-bgcolor;
$btn-flat-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-focus-bgcolor: $btn-flat-hover-bgcolor;
$btn-flat-primary-hover-bgcolor: $btn-primary-hover-bgcolor;
$btn-flat-success-hover-bgcolor: $btn-success-hover-bgcolor;
$btn-flat-info-hover-bgcolor: $btn-info-hover-bgcolor;
$btn-flat-warning-hover-bgcolor: $btn-warning-hover-bgcolor;
$btn-flat-danger-hover-bgcolor: $btn-danger-hover-bgcolor;
$btn-flat-primary-disabled-color: $btn-disabled-color;
$btn-flat-success-disabled-color: $btn-disabled-color;
$btn-flat-info-disabled-color: $btn-disabled-color;
$btn-flat-warning-disabled-color: $btn-disabled-color;
$btn-flat-danger-disabled-color: $btn-disabled-color;
$btn-outline-primary-disabled-color: $btn-disabled-color;
$btn-outline-success-disabled-color: $btn-disabled-color;
$btn-outline-info-disabled-color: $btn-disabled-color;
$btn-outline-warning-disabled-color: $btn-disabled-color;
$btn-outline-danger-disabled-color: $btn-disabled-color;
$btn-outline-primary-disabled-border-color: $btn-disabled-border-color;
$btn-outline-success-disabled-border-color: $btn-disabled-border-color;
$btn-outline-info-disabled-border-color: $btn-disabled-border-color;
$btn-outline-warning-disabled-border-color: $btn-disabled-border-color;
$btn-outline-danger-disabled-border-color: $btn-disabled-border-color;
$btn-outline-active-box-shadow: $btn-flat-box-shadow;
$btn-flat-primary-bgcolor: $btn-primary-bgcolor;
$btn-flat-success-bgcolor: $btn-success-bgcolor;
$btn-flat-info-bgcolor: $btn-info-bgcolor;
$btn-flat-warning-bgcolor: $btn-warning-bgcolor;
$btn-flat-danger-bgcolor: $btn-danger-bgcolor;
$btn-flat-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-flat-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-flat-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-flat-danger-focus-bgcolor: $btn-danger-hover-bgcolor;
$btn-flat-hover-border-color: $btn-hover-border-color;
$btn-flat-active-border-color: $neutral-tertiary-alt;
$btn-flat-focus-border-color: $btn-focus-border-color;
$btn-flat-disabled-border-color: $btn-disabled-border-color;
$btn-flat-primary-border-color: $btn-primary-border-color;
$btn-flat-primary-hover-border-color: $btn-primary-hover-border-color;
$btn-flat-primary-active-border-color: $btn-primary-active-border-color;
$btn-flat-primary-focus-border-color: $btn-primary-focus-border-color;
$btn-flat-primary-disabled-border-color: $btn-primary-disabled-border-color;
$btn-flat-success-border-color: $btn-success-border-color;
$btn-flat-success-hover-border-color: $btn-success-hover-border-color;
$btn-flat-success-active-border-color: $btn-success-active-border-color;
$btn-flat-success-focus-border-color: $btn-success-focus-border-color;
$btn-flat-success-disabled-border-color: $btn-success-disabled-border-color;
$btn-flat-info-border-color: $btn-info-border-color;
$btn-flat-info-hover-border-color: $btn-info-hover-border-color;
$btn-flat-info-active-border-color: $btn-info-active-border-color;
$btn-flat-info-focus-border-color: $btn-info-focus-border-color;
$btn-flat-info-disabled-border-color: $btn-info-disabled-border-color;
$btn-flat-warning-border-color: $btn-warning-border-color;
$btn-flat-warning-hover-border-color: $btn-warning-hover-border-color;
$btn-flat-warning-active-border-color: $btn-warning-active-border-color;
$btn-flat-warning-focus-border-color: $btn-warning-focus-border-color;
$btn-flat-warning-disabled-border-color: $btn-warning-disabled-border-color;
$btn-flat-danger-border-color: $btn-danger-border-color;
$btn-flat-danger-hover-border-color: $btn-danger-hover-border-color;
$btn-flat-danger-active-border-color: $btn-danger-active-border-color;
$btn-flat-danger-focus-border-color: $btn-danger-focus-border-color;
$btn-flat-danger-disabled-border-color: $btn-danger-disabled-border-color;
$btn-flat-active-box-shadow: $btn-box-shadow;
$btn-outline-hover-border-color: $neutral-quintenary;
$btn-outline-focus-border-color: $btn-info-focus-border-color;
$btn-outline-active-border-color:  $btn-outline-active-bgcolor;
$btn-outline-primary-hover-border-color: $theme-primary;
$btn-outline-primary-focus-border-color: $btn-info-focus-border-color;
$btn-outline-primary-active-border-color: $theme-primary;
$btn-round-hover-border-color: $btn-round-hover-bgcolor;
$btn-round-focus-color: $btn-focus-color;
$btn-round-active-color: $btn-active-color;
$btn-warning-active-color: $btn-warning-color;
$btn-success-focus-color: $btn-success-hover-color;
$btn-info-active-color: $btn-info-color;
$btn-flat-primary-focus-bgcolor: $btn-flat-primary-hover-bgcolor;
$focus-outline: $neutral-secondary-alt 1px solid;
$focus-outline-offset: 0;
$active-outline: $neutral-light 0 solid;
$active-outline-offset: 0;
$primary-outline: $neutral-secondary-alt 1px solid;

@include export-module('button-layout') {
  /*! button layout */
  #{&}.e-btn,
  .e-css.e-btn {
    // sass-lint:disable no-vendor-prefixes
    -webkit-font-smoothing: antialiased;
    border: $btn-border;
    border-radius: $btn-border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    justify-content: center;
    line-height: $btn-text-line-height;
    outline: none;
    padding: $btn-padding;
    text-align: center;
    text-decoration: none;
    text-transform: $btn-text-transform;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    @at-root {
      &:disabled {
        cursor: default;
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }

      // sass-lint:disable no-vendor-prefixes
      &::-moz-focus-inner {
        border: 0;
        padding: 0;
      }

      & .e-btn-icon {
        display: inline-block;
        font-size: $btn-icon-font-size;
        margin-top: $btn-icon-margin-top;
        vertical-align: middle;
        width: $icon-btn-width;

        &.e-icon-left {
          margin-left: $btn-icon-margin;
          width: $btn-icon-width;
        }

        &.e-icon-right {
          margin-right: $btn-icon-margin;
          width: $btn-icon-width;
        }

        &.e-icon-top {
          display: block;
          margin-top: 0;
          width: auto;
        }

        &.e-icon-bottom {
          display: block;
          margin-top: 0;
          width: auto;
        }
      }

      &.e-icon-btn {
        padding: $btn-icon-padding;
      }

      &.e-round {
        border-radius: 50%;
        height: $btn-round-height;
        line-height: 1;
        padding: 0;
        width: $btn-round-width;

        & .e-btn-icon {
          font-size: $btn-round-font-size;
          line-height: $btn-round-icon-line-height;
          margin-top: 0;
          width: auto;
        }
      }

      &.e-rtl {
        & .e-icon-right {
          margin-left: $btn-icon-margin;
          margin-right: 0;
        }

        & .e-icon-left {
          margin-left: 0;
          margin-right: $btn-icon-margin;
        }
      }

      &.e-flat {
        border: $btn-flat-border;
      }

      &.e-small {
        font-size: $btn-small-font-size;
        line-height: $btn-small-text-line-height;
        padding: $btn-small-padding;

        & .e-btn-icon {
          font-size: $btn-small-icon-font-size;
          width: $icon-small-btn-width;

          &.e-icon-left {
            margin-left: $btn-small-icon-margin;
            width: $btn-small-icon-width;
          }

          &.e-icon-right {
            margin-right: $btn-small-icon-margin;
            width: $btn-small-icon-width;
          }

          &.e-icon-top {
            width: auto;
          }

          &.e-icon-bottom {
            width: auto;
          }
        }

        &.e-icon-btn {
          padding: $btn-small-icon-padding;
        }

        &.e-round {
          height: $btn-round-small-height;
          line-height: 1;
          padding: 0;
          width: $btn-round-small-width;

          & .e-btn-icon {
            font-size: $btn-small-round-font-size;
            line-height: $btn-small-round-icon-line-height;
            width: auto;
          }
        }

        &.e-rtl {
          & .e-icon-right {
            margin-left: $btn-small-icon-margin;
            margin-right: 0;
          }

          & .e-icon-left {
            margin-left: 0;
            margin-right: btn-small-icon-margin;
          }
        }
      }

      &.e-block {
        display: block;
        width: 100%;
      }
    }
  }

  .e-bigger #{&}.e-btn,
  .e-bigger#{&}.e-btn,
  .e-bigger .e-css.e-btn,
  .e-bigger.e-css.e-btn {
    font-size: $btn-bigger-font-size;
    line-height: $btn-bigger-text-line-height;
    padding: $btn-bigger-padding;

    & .e-btn-icon {
      font-size: $btn-bigger-icon-font-size;
      width: $icon-bigger-btn-width;

      &.e-icon-left {
        margin-left: $btn-bigger-icon-margin;
        width: $btn-bigger-icon-width;
      }

      &.e-icon-right {
        margin-right: $btn-bigger-icon-margin;
        width: $btn-bigger-icon-width;
      }

      &.e-icon-top {
        width: auto;
      }

      &.e-icon-bottom {
        width: auto;
      }
    }

    &.e-icon-btn {
      padding: $btn-bigger-icon-padding;
    }

    &.e-round {
      height: $btn-round-bigger-height;
      line-height: 1;
      padding: 0;
      width: $btn-round-bigger-width;

      & .e-btn-icon {
        font-size: $btn-bigger-round-font-size;
        line-height: $btn-bigger-round-icon-line-height;
        width: auto;
      }
    }

    &.e-rtl {
      & .e-icon-right {
        margin-left: $btn-bigger-icon-margin;
        margin-right: 0;
      }

      & .e-icon-left {
        margin-left: 0;
        margin-right: $btn-bigger-icon-margin;
      }
    }

    &.e-small {
      font-size: $btn-bigger-small-font-size;
      line-height: $btn-bigger-small-text-line-height;
      padding: $btn-bigger-small-padding;

      & .e-btn-icon {
        font-size: $btn-bigger-small-icon-font-size;
        width: $icon-bigger-small-btn-width;

        &.e-icon-left {
          margin-left: $btn-bigger-small-icon-margin;
          width: $btn-bigger-small-icon-width;
        }

        &.e-icon-right {
          margin-right: $btn-bigger-small-icon-margin;
          width: $btn-bigger-small-icon-width;
        }

        &.e-icon-top {
          width: auto;
        }

        &.e-icon-bottom {
          width: auto;
        }
      }

      &.e-icon-btn {
        padding: $btn-bigger-small-icon-padding;
      }

      &.e-round {
        height: $btn-round-bigger-small-height;
        line-height: 1;
        padding: 0;
        width: $btn-round-bigger-small-width;

        & .e-btn-icon {
          font-size: $btn-bigger-small-round-font-size;
          line-height: $btn-bigger-small-round-icon-line-height;
          width: auto;
        }
      }

      &.e-rtl {
        & .e-icon-right {
          margin-left: $btn-bigger-small-icon-margin;
          margin-right: 0;
        }

        & .e-icon-left {
          margin-left: 0;
          margin-right: $btn-bigger-small-icon-margin;
        }
      }
    }
  }
}

@mixin button-focus {
  background-color: $btn-focus-bgcolor;
  border-color: $btn-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-focus-color;
  outline: $focus-outline;
  outline-offset: $focus-outline-offset;
}

@mixin button-active {
  background-color: $btn-active-bgcolor;
  border-color: $btn-active-border-color;
  box-shadow: $btn-active-box-shadow;
  color: $btn-active-color;
  outline: $active-outline;
  outline-offset: $active-outline-offset;
}

@mixin primary-focus {
  background-color: $btn-primary-focus-bgcolor;
  border-color: $btn-primary-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-primary-focus-color;
  outline: $primary-outline;
}

@mixin primary-active {
  background-color: $btn-primary-active-bgcolor;
  border-color: $btn-primary-active-border-color;
  box-shadow: $btn-active-box-shadow;
  color: $btn-primary-active-color;
  outline: $active-outline;
}

@mixin primary-disabled {
  background-color: $btn-primary-disabled-bgcolor;
  border-color: $btn-primary-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-primary-disabled-color;
}

@mixin outline-focus {
  background-color: $btn-outline-focus-bgcolor;
  border-color: $btn-outline-default-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-outline-focus-color;
}

@mixin outline-active {
  background-color: $btn-outline-active-bgcolor;
  border-color: $btn-outline-active-border-color;
  box-shadow: $btn-outline-active-box-shadow;
  color: $btn-outline-active-color;
}

@mixin outline-primary-focus {
  background-color: $btn-primary-focus-bgcolor;
  border-color: $btn-outline-primary-focus-border-color;
  color: $btn-primary-focus-color;
}

@mixin outline-primary-active {
  background-color: $btn-primary-active-bgcolor;
  border-color: $btn-outline-primary-active-border-color;
  box-shadow: $btn-outline-active-box-shadow;
  color: $btn-primary-active-color;
}

@mixin outline-success-focus {
  background-color: $btn-success-focus-bgcolor;
  border-color: $btn-success-focus-border-color;
  color: $btn-success-focus-color;
}

@mixin outline-success-active {
  background-color: $btn-success-active-bgcolor;
  border-color: $btn-success-active-border-color;
  box-shadow: $btn-outline-active-box-shadow;
  color: $btn-success-active-color;
}

@mixin outline-info-focus {
  background-color: $btn-info-hover-bgcolor;
  border-color: $btn-info-focus-border-color;
  color: $btn-info-color;
}

@mixin outline-info-active {
  background-color: $btn-info-active-bgcolor;
  border-color: $btn-info-active-border-color;
  box-shadow: $btn-outline-active-box-shadow;
  color: $btn-info-active-color;
}

@mixin outline-warning-focus {
  background-color: $btn-warning-hover-bgcolor;
  border-color: $btn-warning-focus-border-color;
  color: $btn-warning-color;
}

@mixin outline-warning-active {
  background-color: $btn-warning-active-bgcolor;
  border-color: $btn-warning-active-border-color;
  box-shadow: $btn-outline-active-box-shadow;
  color: $btn-warning-active-color;
}

@mixin outline-danger-focus {
  background-color: $btn-danger-hover-bgcolor;
  border-color: $btn-danger-focus-border-color;
  color: $btn-danger-color;
}

@mixin outline-danger-active {
  background-color: $btn-danger-active-bgcolor;
  border-color: $btn-danger-active-border-color;
  box-shadow: $btn-outline-active-box-shadow;
  color: $btn-danger-active-color;
}

@mixin outline-disabled {
  background-color: $btn-outline-bgcolor;
  border-color: $btn-outline-primary-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-outline-primary-disabled-color;
}

@mixin outline-primary-disabled {
  background-color: $btn-outline-bgcolor;
  border-color: $btn-outline-primary-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-outline-primary-disabled-color;
}

@mixin outline-success-disabled {
  background-color: $btn-outline-bgcolor;
  border-color: $btn-outline-success-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-outline-success-disabled-color;
}

@mixin outline-info-disabled {
  background-color: $btn-outline-bgcolor;
  border-color: $btn-outline-info-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-outline-info-disabled-color;
}

@mixin outline-warning-disabled {
  background-color: $btn-outline-bgcolor;
  border-color: $btn-outline-warning-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-outline-warning-disabled-color;
}

@mixin outline-danger-disabled {
  background-color: $btn-outline-bgcolor;
  border-color: $btn-outline-danger-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-outline-danger-disabled-color;
}

@mixin success-focus {
  background-color: $btn-success-focus-bgcolor;
  border-color: $btn-success-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-success-hover-color;
}

@mixin success-active {
  background-color: $btn-success-active-bgcolor;
  border-color: $btn-success-active-border-color;
  box-shadow: $btn-active-box-shadow;
  color: $btn-success-active-color;
}

@mixin info-focus {
  background-color: $btn-info-focus-bgcolor;
  border-color: $btn-info-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-info-hover-color;
}

@mixin info-active {
  background-color: $btn-info-active-bgcolor;
  border-color: $btn-info-active-border-color;
  box-shadow: $btn-active-box-shadow;
  color: $btn-info-active-color;
}

@mixin warning-focus {
  background-color: $btn-warning-focus-bgcolor;
  border-color: $btn-warning-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-warning-hover-color;
}

@mixin warning-active {
  background-color: $btn-warning-active-bgcolor;
  border-color: $btn-warning-active-border-color;
  box-shadow: $btn-active-box-shadow;
  color: $btn-warning-active-color;
}

@mixin danger-focus {
  background-color: $btn-danger-focus-bgcolor;
  border-color: $btn-danger-focus-border-color;
  box-shadow: $btn-hover-focus-box-shadow;
  color: $btn-danger-hover-color;
}

@mixin danger-active {
  background-color: $btn-danger-active-bgcolor;
  border-color: $btn-danger-active-border-color;
  box-shadow: $btn-active-box-shadow;
  color: $btn-danger-active-color;
}

@mixin link-focus {
  border-radius: 0;
  color: $btn-link-hover-color;
  text-decoration: underline;
}

@mixin success-disabled {
  background-color: $btn-success-disabled-bgcolor;
  border-color: $btn-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-success-disabled-color;
}

@mixin info-disabled {
  background-color: $btn-info-disabled-bgcolor;
  border-color: $btn-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-info-disabled-color;
}

@mixin warning-disabled {
  background-color: $btn-warning-disabled-bgcolor;
  border-color: $btn-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-warning-disabled-color;
}

@mixin danger-disabled {
  background-color: $btn-danger-disabled-bgcolor;
  border-color: $btn-disabled-border-color;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-danger-disabled-color;
}

@mixin link-disabled {
  background-color: $btn-link-disabled-bgcolor;
  box-shadow: $btn-flat-box-shadow;
  color: $btn-disabled-color;
  text-decoration: none;
}
@include export-module('button-theme') {
  /*! button theme */
  // sass-lint:disable no-vendor-prefixes
  #{&}.e-btn,
  .e-css.e-btn {
    -webkit-tap-highlight-color: transparent;
    background-color: $btn-bgcolor;
    border-color: $btn-border-color;
    box-shadow: $btn-box-shadow;
    color: $btn-color;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    @at-root {
      &:hover {
        background-color: $btn-hover-bgcolor;
        border-color: $btn-hover-border-color;
        box-shadow: $btn-hover-focus-box-shadow;
        color: $btn-hover-color;
      }

      &:focus {
        @include button-focus;
      }

      &:active {
        @include button-active;
      }

      &.e-active {
        background-color: $btn-active-bgcolor;
        border-color: $btn-active-border-color;
        box-shadow: $btn-active-box-shadow;
        color: $btn-active-color;
      }

      &:disabled {
        background-color: $btn-disabled-bgcolor;
        border-color: $btn-disabled-border-color;
        box-shadow: $btn-flat-box-shadow;
        color: $btn-disabled-color;
      }

      & .e-ripple-element {
        background-color: $btn-ripple-bgcolor;
      }

      &.e-round {
        background-color: $btn-round-bgcolor;
        border-color: $btn-round-border-color;
        color: $btn-round-color;

        &:hover {
          background-color: $btn-round-hover-bgcolor;
          border-color: $btn-round-hover-border-color;
          color: $btn-round-hover-color;
        }

        &:focus {
          background-color: $btn-focus-bgcolor;
          border-color: $btn-focus-border-color;
          box-shadow: $btn-box-shadow;
          color: $btn-round-focus-color;
          outline: $focus-outline;
          outline-offset: $focus-outline-offset;
        }

        &:active {
          background-color: $btn-active-bgcolor;
          border-color: $btn-active-border-color;
          box-shadow: $btn-active-box-shadow;
          color: $btn-round-active-color;
          outline: $active-outline;
          outline-offset: $active-outline-offset;
        }

        &:disabled {
          background-color: $btn-disabled-bgcolor;
          border-color: $btn-disabled-border-color;
          box-shadow: $btn-flat-box-shadow;
          color: $btn-disabled-color;
        }
      }

      &.e-primary {
        background-color: $btn-primary-bgcolor;
        border-color: $btn-primary-border-color;
        color: $btn-primary-color;

        &:hover {
          background-color: $btn-primary-hover-bgcolor;
          border-color: $btn-primary-hover-border-color;
          box-shadow: $btn-hover-focus-box-shadow;
          color: $btn-primary-hover-color;
        }

        &:focus {
          @include  primary-focus;
        }

        &:active {
          @include primary-active;
        }

        &.e-active {
          background-color: $btn-primary-active-bgcolor;
          border-color: $btn-primary-border-color;
          box-shadow: $btn-active-box-shadow;
          color: $btn-primary-active-color;
        }

        &:disabled {
          @include primary-disabled;
        }

        & .e-ripple-element {
          background-color: $btn-ripple-primary-bgcolor;
        }
      }

      &.e-success {
        background-color: $btn-success-bgcolor;
        border-color: $btn-success-border-color;
        color: $btn-success-color;

        &:hover {
          background-color: $btn-success-hover-bgcolor;
          border-color: $btn-success-hover-border-color;
          box-shadow: $btn-hover-focus-box-shadow;
          color: $btn-success-hover-color;
        }

        &:focus {
          @include success-focus;
        }

        &:active,
        &.e-active {
          @include success-active;
        }

        &:disabled {
          @include success-disabled;
        }

        & .e-ripple-element {
          background-color: $btn-ripple-success-bgcolor;
        }
      }

      &.e-info {
        background-color: $btn-info-bgcolor;
        border-color: $btn-info-border-color;
        color: $btn-info-color;

        &:hover {
          background-color: $btn-info-hover-bgcolor;
          border-color: $btn-info-hover-border-color;
          box-shadow: $btn-hover-focus-box-shadow;
          color: $btn-info-hover-color;
        }

        &:focus {
          @include info-focus;
        }

        &:active,
        &.e-active {
          @include info-active;
        }

        &:disabled {
          @include info-disabled;
        }

        & .e-ripple-element {
          background-color: $btn-ripple-info-bgcolor;
        }
      }

      &.e-warning {
        background-color: $btn-warning-bgcolor;
        border-color: $btn-warning-border-color;
        color: $btn-warning-color;

        &:hover {
          background-color: $btn-warning-hover-bgcolor;
          border-color: $btn-warning-hover-border-color;
          box-shadow: $btn-hover-focus-box-shadow;
          color: $btn-warning-hover-color;
        }

        &:focus {
          @include warning-focus;
        }

        &:active,
        &.e-active {
          @include warning-active;
        }

        &:disabled {
          @include warning-disabled;
        }

        & .e-ripple-element {
          background-color: $btn-ripple-warning-bgcolor;
        }
      }

      &.e-danger {
        background-color: $btn-danger-bgcolor;
        border-color: $btn-danger-border-color;
        color: $btn-danger-color;

        &:hover {
          background-color: $btn-danger-hover-bgcolor;
          border-color: $btn-danger-hover-border-color;
          box-shadow: $btn-hover-focus-box-shadow;
          color: $btn-danger-hover-color;
        }

        &:focus {
          @include danger-focus;
        }

        &:active {
          @include danger-active;
        }

        &.e-active {
          background-color: $btn-danger-active-bgcolor;
          border-color: $btn-danger-active-border-color;
          box-shadow: $btn-active-box-shadow;
          color: $btn-danger-active-color;
        }

        &:disabled {
          @include danger-disabled;
        }

        & .e-ripple-element {
          background-color: $btn-ripple-danger-bgcolor;
        }
      }

      &.e-flat {
        background-color: $btn-flat-bgcolor;
        border-color: $btn-flat-border-color;
        box-shadow: $btn-flat-box-shadow;
        color: $btn-flat-color;

        &:hover {
          background-color: $btn-flat-hover-bgcolor;
          border-color: $btn-flat-hover-border-color;
          box-shadow: $btn-flat-box-shadow;
          color: $btn-flat-hover-color;
        }

        &:focus {
          background-color: $btn-flat-focus-bgcolor;
          border-color: $btn-flat-focus-border-color;
          box-shadow: $btn-flat-box-shadow;
          color: $btn-flat-focus-color;
        }

        &:active,
        &.e-active {
          background-color: $btn-flat-active-bgcolor;
          border-color: $btn-flat-active-border-color;
          box-shadow: $btn-flat-active-box-shadow;
          color: $btn-flat-active-color;
        }

        &:disabled {
          background-color: $btn-flat-bgcolor;
          border-color: $btn-flat-disabled-border-color;
          box-shadow: $btn-flat-box-shadow;
          color: $btn-flat-primary-disabled-color;
        }

        & .e-ripple-element {
          background-color: $btn-ripple-flat-bgcolor;
        }

        &.e-primary {
          background-color: $btn-flat-primary-bgcolor;
          border-color: $btn-flat-primary-border-color;
          color: $btn-flat-primary-color;

          &:hover {
            background-color: $btn-flat-primary-hover-bgcolor;
            border-color: $btn-flat-primary-hover-border-color;
            color: $btn-flat-primary-hover-color;
          }

          &:focus {
            background-color: $btn-flat-primary-focus-bgcolor;
            border-color: $btn-flat-primary-focus-border-color;
            color: $btn-flat-primary-focus-color;
          }

          &:active,
          &.e-active {
            background-color: $btn-flat-primary-active-bgcolor;
            border-color: $btn-flat-primary-active-border-color;
            color: $btn-flat-primary-active-color;
          }

          &:disabled {
            background-color: $btn-disabled-bgcolor;
            border-color: $btn-flat-primary-disabled-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-primary-disabled-color;
          }

          & .e-ripple-element {
            background-color: $btn-ripple-flat-primary-bgcolor;
          }
        }

        &.e-success {
          background-color: $btn-flat-success-bgcolor;
          border-color: $btn-flat-success-border-color;
          color: $btn-flat-success-color;

          &:hover {
            background-color: $btn-flat-success-hover-bgcolor;
            border-color: $btn-flat-success-hover-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-success-hover-color;
          }

          &:focus {
            background-color: $btn-flat-success-focus-bgcolor;
            border-color: $btn-flat-success-focus-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-success-focus-color;
          }

          &:active,
          &.e-active {
            background-color: $btn-flat-success-active-bgcolor;
            border-color: $btn-flat-success-active-border-color;
            box-shadow: $btn-flat-active-box-shadow;
            color: $btn-flat-success-active-color;
          }

          &:disabled {
            background-color: $btn-disabled-bgcolor;
            border-color: $btn-flat-success-disabled-border-color;
            color: $btn-flat-success-disabled-color;
          }

          & .e-ripple-element {
            background-color: $btn-ripple-flat-success-bgcolor;
          }
        }

        &.e-info {
          background-color: $btn-flat-info-bgcolor;
          border-color: $btn-flat-info-border-color;
          color: $btn-flat-info-color;

          &:hover {
            background-color: $btn-flat-info-hover-bgcolor;
            border-color: $btn-flat-info-hover-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-info-hover-color;
          }

          &:focus {
            background-color: $btn-flat-info-focus-bgcolor;
            border-color: $btn-flat-info-focus-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-info-focus-color;
          }

          &:active,
          &.e-active {
            background-color: $btn-flat-info-active-bgcolor;
            border-color: $btn-flat-info-active-border-color;
            box-shadow: $btn-flat-active-box-shadow;
            color: $btn-flat-info-active-color;
          }

          &:disabled {
            background-color: $btn-disabled-bgcolor;
            border-color: $btn-flat-info-disabled-border-color;
            color: $btn-flat-info-disabled-color;
          }

          & .e-ripple-element {
            background-color: $btn-ripple-flat-info-bgcolor;
          }
        }

        &.e-warning {
          background-color: $btn-flat-warning-bgcolor;
          border-color: $btn-flat-warning-border-color;
          color: $btn-flat-warning-color;

          &:hover {
            background-color: $btn-flat-warning-hover-bgcolor;
            border-color: $btn-flat-warning-hover-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-warning-hover-color;
          }

          &:focus {
            background-color: $btn-flat-warning-focus-bgcolor;
            border-color: $btn-flat-warning-focus-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-warning-focus-color;
          }

          &:active,
          &.e-active {
            background-color: $btn-flat-warning-active-bgcolor;
            border-color: $btn-flat-warning-active-border-color;
            box-shadow: $btn-flat-active-box-shadow;
            color: $btn-flat-warning-active-color;
          }

          &:disabled {
            background-color: $btn-disabled-bgcolor;
            border-color: $btn-flat-warning-disabled-border-color;
            color: $btn-flat-warning-disabled-color;
          }

          & .e-ripple-element {
            background-color: $btn-ripple-flat-warning-bgcolor;
          }
        }

        &.e-danger {
          background-color: $btn-flat-danger-bgcolor;
          border-color: $btn-flat-danger-border-color;
          color: $btn-flat-danger-color;

          &:hover {
            background-color: $btn-flat-danger-hover-bgcolor;
            border-color: $btn-flat-danger-hover-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-danger-hover-color;
          }

          &:focus {
            background-color: $btn-flat-danger-focus-bgcolor;
            border-color: $btn-flat-danger-focus-border-color;
            box-shadow: $btn-flat-box-shadow;
            color: $btn-flat-danger-focus-color;
          }

          &:active,
          &.e-active {
            background-color: $btn-flat-danger-active-bgcolor;
            border-color: $btn-flat-danger-active-border-color;
            box-shadow: $btn-flat-active-box-shadow;
            color: $btn-flat-danger-active-color;
          }

          &:disabled {
            background-color: $btn-disabled-bgcolor;
            border-color: $btn-flat-danger-disabled-border-color;
            color: $btn-flat-danger-disabled-color;
          }

          & .e-ripple-element {
            background-color: $btn-ripple-flat-danger-bgcolor;
          }
        }
      }

      &.e-outline {
        background-color: $btn-outline-bgcolor;
        border-color: $btn-outline-border-color;
        box-shadow: $btn-flat-box-shadow;
        color: $btn-outline-color;

        &:hover {
          background-color: $btn-outline-hover-bgcolor;
          border-color: $btn-outline-hover-border-color;
          box-shadow: $btn-flat-box-shadow;
          color: $btn-outline-hover-color;
        }

        &:focus {
          @include outline-focus;
        }

        &:active,
        &.e-active {
          @include outline-active;
        }

        &:disabled {
          @include outline-disabled;
        }

        &.e-primary {
          background-color: $btn-outline-bgcolor;
          border-color: $btn-primary-bgcolor;
          color: $btn-primary-bgcolor;

          &:hover {
            background-color: $btn-primary-hover-bgcolor;
            border-color: $btn-outline-primary-hover-border-color;
            color: $btn-primary-hover-color;
          }

          &:focus {
            @include outline-primary-focus;
          }

          &:active,
          &.e-active {
            @include outline-primary-active;
          }

          &:disabled {
            @include outline-primary-disabled;
          }
        }

        &.e-success {
          background-color: $btn-outline-bgcolor;
          border-color: $btn-success-bgcolor;
          color: $btn-success-bgcolor;

          &:hover {
            background-color: $btn-success-hover-bgcolor;
            border-color: $btn-success-hover-border-color;
            color: $btn-success-color;
          }

          &:focus {
            @include outline-success-focus;
          }

          &:active,
          &.e-active {
            @include outline-success-active;
          }

          &:disabled {
            @include outline-success-disabled;
          }
        }

        &.e-info {
          background-color: $btn-outline-bgcolor;
          border-color: $btn-info-bgcolor;
          color: $btn-info-bgcolor;

          &:hover {
            background-color: $btn-info-hover-bgcolor;
            border-color: $btn-info-hover-border-color;
            color: $btn-info-color;
          }

          &:focus {
            @include outline-info-focus;
          }

          &:active,
          &.e-active {
            @include outline-info-active;
          }

          &:disabled {
            @include outline-info-disabled;
          }
        }

        &.e-warning {
          background-color: $btn-outline-bgcolor;
          border-color: $btn-warning-bgcolor;
          color: $btn-warning-bgcolor;

          &:hover {
            background-color: $btn-warning-hover-bgcolor;
            border-color: $btn-warning-hover-border-color;
            color: $btn-warning-color;
          }

          &:focus {
            @include outline-warning-focus;
          }

          &:active,
          &.e-active {
            @include outline-warning-active;
          }

          &:disabled {
            @include outline-warning-disabled;
          }
        }

        &.e-danger {
          background-color: $btn-outline-bgcolor;
          border-color: $btn-danger-bgcolor;
          color: $btn-danger-bgcolor;

          &:hover {
            background-color: $btn-danger-hover-bgcolor;
            border-color: $btn-danger-hover-border-color;
            color: $btn-danger-color;
          }

          &:focus {
            @include outline-danger-focus;
          }

          &:active,
          &.e-active {
            @include outline-danger-active;
          }

          &:disabled {
            @include outline-danger-disabled;
          }
        }
      }

      &.e-link {
        background-color: $btn-link-bgcolor;
        border-color: $btn-link-border-color;
        border-radius: 0;
        box-shadow: none;
        color: $btn-link-color;

        &:hover,
        &:focus {
          @include link-focus;
        }

        &:disabled {
          @include link-disabled;
        }
      }
    }
  }
}
