

$list-line-height: 36px;
$header-font-weight: 600;
$last-child-bottom-border: 0;
$default-font-family: $font-family;
$list-font-size: 15px;
$list-border-size: 1px;
$default-header-font-color: $default-font-color;
$list-default-font-color: $default-font-color;
$list-border-color: $default-border-color;
$list-bg-color: $default-bg-color;
$list-bottom-border: $list-border-size;
$list-gradient-color: $default-gradient-color;
$list-font-family: $default-font-family;
$list-header-border-color: $header-border-color;
$list-header-bg-color: $header-bg-color;
$list-active-bg-color: $active-bg-color;
$list-active-border-color: $active-border-color;
$list-active-font-color: $active-font-color;
$list-hover-bg-color: $hover-bg-color;
$list-hover-border-color: $hover-border-color;
$list-hover-font-color: $hover-font-color;
$group-list-padding-left: 2em;
$list-padding-right: 16px;
$list-border-color: rgba($neutral-light, .25);
$list-font-family: $font-family;
$list-gradient-color: none;
$list-bg-color: $neutral-white;
$list-header-bg-color: $neutral-white;
$list-header-border-color: 1px $neutral-light;
$list-default-font-color: rgba($neutral-light-font, .87);
$list-active-border-color: $neutral-white;
$list-active-font-color: $neutral-light-font;
$list-active-bg-color: $theme-lighter;
$list-hover-bg-color: $neutral-lighter;
$list-hover-border-color: $neutral-white;
$list-hover-font-color: $neutral-light-font;
$nodata-font-color: $neutral-light-font;
$group-list-padding-left: 20px;
$list-header-padding-left: 10px;
$list-font-size: 14px;
$group-list-font-size: 14px;
$list-header-font-color: $theme-primary;
$list-text-indent: 10px;
$list-line-height: 36px;
$bigger-list-header-font-size: $list-font-size;

@include export-module('dropdownbase-fabric') {
  .e-dropdownbase .e-list-item .e-list-icon {
    padding: 0 10px 0 0;
  }

  .e-bigger .e-dropdownbase .e-list-item .e-list-icon {
    padding: 0 12px 0 0;
  }
}

@include export-module('dropdownbase-layout') {
  .e-bigger .e-dropdownbase,
  .e-dropdownbase.e-bigger {
    min-height: 45px;
    @at-root {
      & .e-list-item,
      & .e-list-group-item,
      & .e-fixed-head {
        line-height: 48px;
      }

      & .e-list-item .e-list-icon {
        font-size: 20px;
      }
    }
  }

  .e-dropdownbase {
    display: block;
    height: 100%;
    min-height: 36px;
    position: relative;
    width: 100%;
    @at-root {
      & .e-list-parent {
        margin: 0;
        padding: 0;
      }

      & .e-list-group-item,
      & .e-fixed-head {
        cursor: default;
      }

      & .e-list-item {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
      }

      & .e-list-item .e-list-icon {
        font-size: 16px;
        vertical-align: middle;
      }

      & .e-fixed-head {
        position: absolute;
        top: 0;.e-rtl & {
          left: 33px;
        }
      }
    }
  }

  .e-dropdownbase.e-content {
    overflow: auto;
    position: relative;
  }

  #{&}.e-popup.e-ddl .e-dropdownbase.e-nodata {
    color: $nodata-font-color;
    cursor: default;
    font-family: $list-font-family;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
  }

  .e-rtl .e-dropdownbase.e-dd-group .e-list-item {
    padding-right: $group-list-padding-left;
  }

  .e-dropdownbase.e-dd-group .e-list-item {
    padding-left: $group-list-padding-left;
    text-indent: 0;
  }
}
@include export-module('dropdownbase-theme') {
  .e-dropdownbase {
    border-color: $list-border-color;
    @at-root {
      & .e-list-item {
        background-color: $list-bg-color;
        border-bottom: $list-bottom-border;
        border-color: $list-gradient-color;
        color: $list-default-font-color;
        font-family: $list-font-family;
        font-size: $list-font-size;
        line-height: $list-line-height;
        min-height: $list-line-height;
        padding-right: $list-padding-right;
        text-indent: $list-text-indent;
      }

      & .e-list-group-item,
      .e-fixed-head {
        background-color: $list-bg-color;
        border-color: $list-gradient-color;
        color: $list-header-font-color;
        font-family: $list-font-family;
        font-size: $group-list-font-size;
        font-weight: $header-font-weight;
        line-height: $list-line-height;
        min-height: $list-line-height;
        padding-left: $list-header-padding-left;
        padding-right: $list-padding-right;
      }

      & .e-list-item.e-active,
      & .e-list-item.e-active.e-hover {
        background-color: $list-active-bg-color;
        border-color: $list-active-border-color;
        color: $list-active-font-color;
       }

      & .e-list-item.e-hover {
        background-color: $list-hover-bg-color;
        border-color: $list-hover-border-color;
        color: $list-hover-font-color;
      }

      & .e-list-item:last-child {
        border-bottom: $last-child-bottom-border;
      }

      & .e-list-item.e-item-focus {
        background-color: $list-hover-bg-color;
      }
    }
  }

  .e-bigger .e-dropdownbase {
    @at-root {
      & .e-list-group-item,
      & .e-fixed-head {
        font-size: $bigger-list-header-font-size;
      }
    }
  }
}
$overall-close-icon: '\e7a7';
$overall-close-top: 2px;
$overall-close-left: 3px;
$chip-mobile-radius: 2px;
$chip-mobile-height: 40px;
$chip-mobile-close-font: 16px;
$multiselect-skin-name: 'fabric';
$delim-font-size: 14px;
$rtl-wrapper: 0 2px 0 32px;
$chip-mobile-bg: $theme-primary;
$chip-mobile-font: $theme-primary-font;
$chip-bg-color:  $neutral-lighter;
$chip-hover-bg-color: $neutral-light;
$chip-hover-font-color: $neutral-secondary;
$chip-font-color:  $neutral-secondary;
$chip-close:  $neutral-secondary;
$sel-chip-font-color: $neutral-secondary;
$sel-chip-close: $neutral-secondary;
$sel-chip-bg-color: $neutral-quintenary;
$sel-hover-chip-bg-color: $neutral-quintenaryalt;
$sel-chip-hover-font-color: $neutral-secondary;
$popup-shadow-value: 0 0 5px 0 rgba(0, 0, 0, .4);
$remains-font-color: $neutral-secondary;
$remains-padding-left: 16px;
$chip-radius: 0;
$chip-margin: 1.5px 2px 2px 0;
$chip-margin-bigger: 4px 2px 2px 0;
$chip-content-padding: 0 0 3px 0;
$chip-mobile-content-padding: 4px 8px 6px 0;
$rtl-chip-mobile-content-padding: 6px 0 6px 8px;
$chip-padding: 0 0 0 8px;
$chip-close-icon: '\e7a7';
$chip-close-top: 8px;
$chip-close-left: 8px;
$chip-close-margin: 0;
$chip-mobile-close-margin: 3px 0 0;
$chip-close-square: 26px;
$chip-hooker-square: 30px;
$chip-close-font: 10px;
$chip-close-mobile-top: 0;
$chip-height: 26px;
$chip-mobile-height: 30px;
$chip-collection-top: 1px;
$input-height: 28px;
$input-bigger-height: 38px;
$input-mob-height: 30px;
$control-height: 30px;
$control-bigger-height: 38px;
$delimviewheight: 30px;
$delimviewheight-bigger: 36px;
$closer-hooker-font: 10px;
$closer-margin-top: -3em;
$closer-margin-top-bigger: -3.5em;
$chip-font-family: $font-family;
$chip-mobile-radius: 0;
$chip-sel-mobile-height: 38px;
$chip-selected-padding: 9px 0;
$chip-close-mob-margin: 5px 0 0 2px;
$closer-hooker-top: 100%;
$chip-hooker-right: 0;
$chip-mob-left: 10px;
$chip-mob-padding: 0 10px;
$chip-font-size: 14px;
$rtl-chip-close-left: -9px;
$rtl-chip-content-padding: 3px 0 3px 8px;
$rtl-mob-chip-content-padding: 5px 8px 6px 0;
$rtl-mob-sel-chip-content-padding: 9px 4px;
$rtl-mob-chip-content-margin: 2px 0 2px 2px;
$rtl-chip-padding: 0 8px 0 0;
$rtl-mob-sel-chip-padding: 0 4px 0 0;
$rtl-mob-chip-padding: 0 4px 0 4px;
$rtl-hooker-left: -4px;
$chip-close-mob-top: 0;
$control-placholder-padding: 0 32px 0 2px;
$overall-close-top: 10px;
$overall-close-left: 10px;
$sel-chip-close-mobile-top: 0;
$sel-chip-close-mobile-left: 12px;
$chip-sel-mobile-close-height: 26px;
$chip-sel-mobile-close-margin: 0 0 0 0;
$input-text-indent: 10px;
$rtl-chip-sel-close-left: -12px;
$popup-active-focus-bg-color: $theme-lighter;
$popup-active-focus-font-color: $neutral-light-font;
$popup-active-focus-border-color: $neutral-secondary;
$popup-active-focus-border-width: 1px;
$popup-active-focus-shadow-item: none;
$input-placeholder: $neutral-tertiary;
$popup-active-border-color: $theme-primary-font;
$popup-active-border-width: 1px;
$delim-text-indent: 10px;
$down-icon-content: '\e966';
$popup-normal-border-width: 1px;
$check-right: 11px;
$check-left: 12px;
$bigger-select-all-height: 46px;
$select-all-height: 36px;
$back-icon-margin: -2px 10px 0 -54px;
$back-icon-padding: 0;
$filterbar-padding: 8px;
$bigger-filterbar-padding: 4px 0;
$delimviewheight-check-bigger: 36px;
$popup-reorder-border: $neutral-light;
$check-right-margin: 8px;
$bigger-check-right-margin: 10px;
$selectall-font-size: 14px;
$close-icon-left: 27px;
$ddl-check-icon-top: 0;
$bigger-check-right: 17px;
$multi-list-default-font-color: rgba($neutral-light-font, .87);
$multi-list-hover-bg-color: $neutral-lighter;
$delim-text-padding-right: 0;
$list-rtl-padding-right: 19px;
$close-rtl-icon-left: 30px;
$chip-close-rtl-left: -10px;

@include export-module('multiselect-fabric') {
  .e-multi-select-wrapper.e-down-icon .e-input-group-icon.e-ddl-icon {
    height: 30px;
    width: 30px;
  }
}

.e-multi-select-wrapper .e-close-hooker::before {
  content: $overall-close-icon;
  cursor: pointer;
  left: $overall-close-left;
  position: relative;
  top: $overall-close-top;
}

.e-multi-select-wrapper .e-chips .e-chips-close::before {
  content: $chip-close-icon;
  cursor: pointer;
  left: $chip-close-left;
  position: relative;
  top: $chip-close-top;
}

.e-multiselect.e-input-group .e-ddl-icon::before {
  content: $down-icon-content;
  font-family: 'e-icons';
}

.e-multiselect.e-input-group .e-ddl-disable-icon::before {
  content: '';
}
.e-multi-select-wrapper {
  cursor: text;
  line-height: normal;
  min-height: $control-height;
  padding: $control-placholder-padding;
  position: relative;
  user-select: none;
  width: 100%;

  &.e-delimiter {
    & .e-searcher {
      height: 27px;
      vertical-align: middle;& .e-dropdownbase {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  .e-delim-view {
    white-space: nowrap;
  }

  .e-chips.e-mob-chip.e-chip-selected .e-chips-close::before {
    color: $chip-mobile-font;
    font-size: $chip-close-font;
    left: $sel-chip-close-mobile-left;
    top: $sel-chip-close-mobile-top;
  }

  .e-chips.e-mob-chip.e-chip-selected .e-chipcontent {
    background-color: $chip-mobile-bg;
    color: $chip-mobile-font;
    padding: $chip-selected-padding;
  }

  .e-searcher.e-zero-size {
    width: 0;

    input[type='text'] {
      height: 1px;
      min-height: 1px;
    }

  }

  .e-chips.e-mob-chip>.e-chipcontent {
    max-width: 100%;
  }
}

.e-bigger .e-multi-select-wrapper {
  min-height: $control-bigger-height;
}

.e-multi-select-wrapper.e-close-icon-hide {
  padding-right: 0;
}

.e-multi-select-wrapper .e-chips-collection {
  cursor: default;
  display: block;
}

.e-multi-select-wrapper .e-multi-hidden {
  border: 0;
  height: 0;
  visibility: hidden;
  width: 0;
}

.e-multi-select-wrapper .e-chips {
  align-items: center;
  display: inline-flex;
  float: left;
  margin: $chip-margin;
  max-width: 100%;
  overflow: hidden;
  padding: $chip-padding;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-bigger .e-multi-select-wrapper .e-chips {
  margin: $chip-margin-bigger;
}

.e-multi-select-wrapper .e-chips>.e-chipcontent {
  max-width: 100%;
  overflow: hidden;
  padding: $chip-content-padding;
  text-indent: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.e-multi-select-wrapper.e-delimiter {
  .e-searcher {
    display: inline-block;
    float: none;
  }
}

.e-multi-select-wrapper .e-mob-chip.e-chips>.e-chipcontent,
.e-bigger .e-multi-select-wrapper .e-chips>.e-chipcontent {
  padding: $chip-mobile-content-padding;
}

#{&}.e-multiselect.e-rtl .e-multi-select-wrapper .e-mob-chip.e-chips>.e-chipcontent,
.e-bigger #{&}.e-multiselect.e-rtl .e-multi-select-wrapper .e-chips>.e-chipcontent {
  padding: $rtl-chip-mobile-content-padding;
}

.e-multi-select-wrapper .e-chips-close {
  align-self: center;
  display: flex;
  float: right;
  font-family: 'e-icons';
  height: $chip-close-square;
  margin: $chip-close-margin;
  width: $chip-close-square;
}

.e-multi-select-wrapper .e-mob-chip.e-chips .e-chips-close {
  margin: $chip-mobile-close-margin;
}

.e-multi-select-wrapper .e-chips-close.e-close-hooker {
  cursor: default;
  font-size: $closer-hooker-font;
  height: $chip-hooker-square;
  margin-top: $closer-margin-top;
  position: absolute;
  right: $chip-hooker-right;
  top: $closer-hooker-top;
  width: $chip-hooker-square;
}

.e-multiselect .e-down-icon .e-chips-close.e-close-hooker {
  right: $close-icon-left;
}

.e-bigger .e-multiselect .e-down-icon .e-chips-close.e-close-hooker {
  @if $multiselect-skin-name == 'Fabric' or $multiselect-skin-name == 'highcontrast' {
    right: 38px;
  }
}

.e-bigger .e-multi-select-wrapper .e-chips-close.e-close-hooker {
  margin-top: $closer-margin-top-bigger;
}

.e-multi-select-wrapper input[type='text'] {
  background: none;
  border: 0;
  font-family: $chip-font-family;
  font-size: $chip-font-size;
  font-weight: 400;
  height: $input-height;
  min-height: $input-height;
  outline: none;
  padding: 0;
  text-indent: $input-text-indent;
}

.e-bigger .e-multi-select-wrapper input[type='text'],
.e-multi-select-wrapper.e-mob-wrapper input[type='text'] {
  height: $input-height;
  min-height: $input-height;
}

.e-bigger .e-multi-select-wrapper input[type='text'] {
  height: $input-bigger-height;
  min-height: $input-bigger-height;
}

// sass-lint:disable no-vendor-prefixes
.e-multi-select-wrapper  input[type='text']::-ms-clear {
  display: none;
}

.e-multi-select-wrapper .e-searcher {
  display: block;
  float: left;
  width: auto;
}

.e-multi-select-wrapper .e-delim-values {
  font-family: $chip-font-family;
  font-size: $delim-font-size;
  line-height: $delimviewheight;
  max-width: 100%;
  padding-left: $delim-text-indent;
  padding-right: $delim-text-padding-right;
  vertical-align: middle;
}

.e-bigger .e-multi-select-wrapper .e-delim-values {
  line-height: $delimviewheight-bigger;
}

.e-multi-select-list-wrapper .e-hide-listitem {
  display: none;
}

.e-multi-select-wrapper .e-delim-values .e-remain {
  color: $remains-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: $chip-font-size;
  padding-left: $remains-padding-left;
}

#{&}.e-multiselect.e-disabled .e-multi-select-wrapper,
#{&}.e-multiselect.e-disabled .e-multi-select-wrapper .e-chips .e-chips-close::before {
  cursor: not-allowed;
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chips-close {
  height: $chip-sel-mobile-height;
  left: $chip-mob-left;
  margin: $chip-sel-mobile-close-margin;
  position: relative;
  top: $chip-close-mob-top;
  width: $chip-sel-mobile-height;
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected {
  align-self: center;
  box-shadow: $popup-shadow-value;
  display: inline-flex;
  padding: $chip-mob-padding;
  width: 92%;
}

.e-multi-select-wrapper .e-ddl-disable-icon::before {
  content: '';
}

#{&}.e-multiselect.e-rtl .e-multi-select-wrapper.e-delimiter {
  .e-searcher {
    float: none;
  }
}

#{&}.e-multiselect.e-rtl {
  .e-multi-select-wrapper.e-close-icon-hide {
    padding-left: 0;
  }

  .e-multi-select-wrapper {
    padding: $rtl-wrapper;

    .e-chips.e-mob-chip.e-chip-selected .e-chips-close::before {
      left: $rtl-chip-sel-close-left;
    }

    .e-chips.e-mob-chip.e-chip-selected .e-chips-close {
      margin: 0;
    }

    .e-searcher {
      float: right;
    }

    .e-chips {
      float: right;
      margin: $rtl-mob-chip-content-margin;
      padding: $rtl-chip-padding;

      .e-chipcontent {
        padding: $rtl-chip-content-padding;
      }

      .e-chips-close {
        float: left;
      }

      .e-chips-close::before {
        left: $rtl-chip-close-left;
      }
    }

    .e-chips.e-mob-chip {
      padding: $rtl-mob-chip-padding;

      .e-chipcontent {
        padding: $rtl-mob-chip-content-padding;
      }
    }

    .e-chips.e-mob-chip.e-chip-selected {
      padding: $rtl-mob-sel-chip-padding;

      .e-chipcontent {
        padding: $rtl-mob-sel-chip-content-padding;
      }
  }

    .e-chips-close.e-close-hooker {
      left: $close-icon-left;
      position: absolute;
      right: auto;
  }

    .e-close-hooker::before {
      left: $rtl-hooker-left;
  }

    .e-delim-values .e-remain {
      padding-right: $remains-padding-left;
    }

  }
}

.e-multiselect.e-rtl .e-down-icon .e-chips-close.e-icon.e-close-hooker {
  left: $close-rtl-icon-left;
}

.e-multiselect.e-rtl .e-multi-select-wrapper.e-down-icon .e-close-hooker::before {
  left: $chip-close-rtl-left;
}

.e-popup.e-multi-select-list-wrapper .e-list-item .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $check-right-margin;
  position: relative;
  text-indent: 0;
  vertical-align: middle;
}

.e-bigger .e-popup.e-multi-select-list-wrapper .e-list-item .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $bigger-check-right-margin;
}

.e-popup.e-multi-select-list-wrapper.e-rtl .e-list-item .e-checkbox-wrapper {
  margin-left: 12px;
  margin-right: 0;
}

.e-popup.e-multi-select-list-wrapper.e-rtl .e-list-item {
  padding-right: 0;
}

.e-popup.e-multi-select-list-wrapper.e-rtl .e-dropdownbase.e-rtl.e-dd-group .e-list-item {
  padding-right: $list-rtl-padding-right;
}

.e-multi-select-list-wrapper .e-selectall-parent {
  cursor: pointer;
  display: block;
  line-height: $select-all-height;
  overflow: hidden;
  position: relative;
  text-indent: $check-right;
  white-space: nowrap;
  width: 100%;
}

.e-multi-select-list-wrapper .e-selectall-parent .e-all-text {
  color: $multi-list-default-font-color;
  font-family: $chip-font-family;
  font-size: $selectall-font-size;
}

.e-bigger .e-multi-select-list-wrapper .e-selectall-parent {
  font-size: $chip-font-size;
  line-height: $bigger-select-all-height;
  text-indent: $bigger-check-right;
}

.e-multi-select-list-wrapper .e-selectall-parent .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $check-right-margin;
  position: relative;
  text-indent: 0;
  vertical-align: middle;
}

.e-bigger .e-multi-select-list-wrapper .e-selectall-parent .e-checkbox-wrapper {
  bottom: 1px;
  margin-right: $bigger-check-right-margin;
}

.e-multi-select-list-wrapper.e-rtl .e-selectall-parent .e-checkbox-wrapper {
  margin-left: $check-left;
  margin-right: 0;
}

.e-multiselect .e-input-group-icon.e-ddl-icon {
  float: right;
  margin-top: $ddl-check-icon-top;
  @if $multiselect-skin-name == 'bootstrap' {
    height: 36px;
    width: 36px;
  }
}

.e-multiselect.e-rtl .e-input-group-icon.e-ddl-icon {
  float: left;
}

.e-multiselect .e-ddl-icon::before {
  @if $multiselect-skin-name == 'material' {
    transform: rotate(0deg);
    transition: transform 300ms ease;
  }
}

.e-multiselect.e-icon-anim .e-ddl-icon::before {
  @if $multiselect-skin-name == 'material' {
    transform: rotate(180deg);
    transition: transform 300ms ease;
  }
}

.e-multiselect.e-checkbox .e-multi-select-wrapper {
  padding: 2px 0 0;
  @if $multiselect-skin-name != 'material' {
    padding: 0;
  }
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-filter,
.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-group.e-input-focus .e-input-filter {
  padding: $filterbar-padding;
}

.e-bigger .e-ddl.e-popup.e-multi-select-list-wrappe .e-filter-parent .e-input-filter,
.e-bigger .e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-input-group.e-input-focus {
  padding: $bigger-filterbar-padding;
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-clear-icon,
.e-bigger .e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-clear-icon {
  padding-left: 8px;
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-filter-parent .e-back-icon {
  margin: $back-icon-margin;
  padding: $back-icon-padding;
  position: absolute;
}

.e-bigger .e-checkbox .e-multi-select-wrapper .e-delim-values {
  @if $multiselect-skin-name != 'highcontrast' {
    line-height: $delimviewheight-check-bigger;
  }
}

.e-checkbox .e-multi-select-wrapper .e-delim-values .e-remain {
  line-height: 20px;
  padding-left: 10px;
}

.e-popup.e-multi-select-list-wrapper .e-list-item.e-disable .e-checkbox-wrapper .e-frame {
  opacity: .3;
}

.e-popup.e-multi-select-list-wrapper .e-list-item.e-disable {
  opacity: .7;
}

.e-multi-select-wrapper input[readonly='true'] {
  pointer-events: none;
}

.e-multiselect.e-checkbox .e-multi-select-wrapper .e-searcher {
  pointer-events: none;
}

ejs-multiselect {
  display: block;
}
.e-multi-select-wrapper .e-chips.e-chip-selected .e-chips-close::before {
  color: $sel-chip-close;
}

.e-multi-select-wrapper .e-chips.e-chip-selected {
  background-color: $sel-chip-bg-color;
}

.e-multi-select-wrapper .e-chips.e-chip-selected:hover {
  background-color: $sel-hover-chip-bg-color;
}

#{&}.e-multiselect {
  box-sizing: border-box;
}

.e-multi-select-wrapper .e-chips>.e-chipcontent {
  color: $chip-font-color;
  font-family: $chip-font-family;
  font-size: $chip-font-size;
}

.e-multi-select-wrapper .e-chips.e-chip-selected>.e-chipcontent {
  color: $sel-chip-font-color;
}

.e-multi-select-wrapper .e-chips.e-chip-selected>.e-chipcontent:hover {
  color: $sel-chip-hover-font-color;
}

.e-multi-select-wrapper .e-chips {
  background-color: $chip-bg-color;
  border-radius: $chip-radius;
  height: $chip-height;
}

.e-multi-select-wrapper .e-chips:hover {
  background-color: $chip-hover-bg-color;
}

.e-multi-select-wrapper .e-chips>.e-chipcontent:hover {
  color: $chip-hover-font-color;
}

.e-multi-select-wrapper .e-chips .e-chips-close::before {
  color: $chip-close;
  font-size: $chip-close-font;
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected {
  background-color: $chip-mobile-bg;
  border-radius: $chip-mobile-radius;
  color: $chip-mobile-font;
  display: block;
  height: $chip-sel-mobile-height;
  line-height: $chip-sel-mobile-height;
}

.e-multi-select-wrapper .e-chips.e-mob-chip.e-chip-selected .e-chipcontent {
  color: $chip-mobile-font;
}

.e-multi-select-wrapper .e-chips.e-mob-chip,
.e-bigger .e-multi-select-wrapper .e-chips {
  height: $chip-mobile-height;
}

#{&}.e-popup.e-multi-select-list-wrapper {
  box-shadow: $popup-shadow-value;
  box-sizing: content-box;
  overflow: initial;
}

#{&}.e-popup.e-multi-select-list-wrapper .e-list-item.e-active {
  border-bottom: $popup-active-border-width solid transparent;
  border-left: $popup-active-border-width solid $popup-active-focus-bg-color;
  border-right: $popup-active-border-width solid $popup-active-focus-bg-color;
  border-top: $popup-active-border-width solid $popup-active-border-color;
}

#{&}.e-popup.e-multi-select-list-wrapper.e-checkbox .e-list-item.e-active {
  background-color: transparent;
  border-color: transparent;
  color: $multi-list-default-font-color;
}

#{&}.e-popup.e-multi-select-list-wrapper.e-checkbox .e-list-item.e-active.e-item-focus {
  @if $multiselect-skin-name != 'highcontrast' {
    color: $multi-list-default-font-color;
  }
}

#{&}.e-popup.e-multi-select-list-wrapper.e-checkbox .e-list-item.e-active.e-hover {
  background-color: $multi-list-hover-bg-color;
}

#{&}.e-popup.e-multi-select-list-wrapper .e-list-item.e-active:first-child {
  border-bottom: $popup-active-border-width solid transparent;
  border-top: $popup-active-border-width solid transparent;
}

#{&}.e-popup.e-multi-select-list-wrapper .e-list-item.e-active:last-child {
  border-bottom: $popup-active-border-width solid transparent;
}

#{&}.e-popup.e-multi-select-list-wrapper .e-list-item.e-active.e-item-focus + li.e-active {
  @if $multiselect-skin-name != 'highcontrast' {
    border-top: $popup-active-border-width solid transparent;
  }
}

#{&}.e-popup.e-multi-select-list-wrapper .e-list-item.e-active.e-item-focus {
  background-color: $popup-active-focus-bg-color;
  border: $popup-active-focus-border-width solid $popup-active-focus-border-color;
  box-shadow: $popup-active-focus-shadow-item;
  color: $popup-active-focus-font-color;
}

#{&}.e-popup.e-multi-select-list-wrapper .e-list-item {
  border: $popup-normal-border-width solid transparent;
}

// sass-lint:disable no-vendor-prefixes
.e-multi-select-wrapper input.e-dropdownbase:-moz-placeholder {
  color: $input-placeholder;
}

// sass-lint:disable no-vendor-prefixes
.e-multi-select-wrapper input.e-dropdownbase::-moz-placeholder {
  color: $input-placeholder;
}

// sass-lint:disable no-vendor-prefixes
.e-multi-select-wrapper input.e-dropdownbase:-ms-input-placeholder {
  color: $input-placeholder;
}

// sass-lint:disable no-vendor-prefixes
.e-multi-select-wrapper input.e-dropdownbase::-webkit-input-placeholder {
  color: $input-placeholder;
}

.e-ul.e-reorder {
  border-bottom: 1px solid $popup-reorder-border;
}

.e-multi-select-list-wrapper .e-selectall-parent {
  border-bottom: 1px solid $popup-reorder-border;
}

.e-ddl.e-popup.e-multi-select-list-wrapper .e-list-item.e-active.e-item-focus .e-checkbox-wrapper .e-frame.e-check {
  @if $multiselect-skin-name == 'highcontrast' {
    background-color: $multi-checkmark-bgcolor;
    border-color: $multi-checkmark-border-color;
    color: $multi-checkmark-color;
  }
}

.e-ddl.e-popup.e-multi-select-list-wrapper.e-checkbox .e-list-item.e-active:not(.e-item-focus):not(.e-hover) {
  @if $multiselect-skin-name == 'highcontrast' {
    background-color: $bg-base-0;
  }
}